<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:60vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">



        <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Sales Person</h2>



      </div>
    </div>
    <div>
      <fieldset class="border p-2">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">



              <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                <input type="text" class="form-control" style="width:60%" id="firstname" placeholder="" [(ngModel)]="FirstName" #fstname name="FirstNa" value="">
              </div>



              <div class="form-group row">
                <label for="contact" class="col-sm-2 col-form-label">Contact #</label>
                <input type="text" class="form-control" style="width:60%" id="contact no" placeholder="" [(ngModel)]="ContactNumber" #CNnum name="Contactnum" value="">
              </div>



              <div class="form-group row">
                <label for="Region" class="col-sm-2 col-form-label">Region</label>
                <input type="text" class="form-control" style="width:60%" id="Region" placeholder="" [(ngModel)]="Region" #Rgn name="Regions" value="">
              </div>
            </div>



            <div class="form-group col-md-6">
              <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">LastName</label>
                <input type="text" class="form-control" style="width:60%" id="firstname" placeholder="" [(ngModel)]="LastName" #lstnam name="LastNa" value="">
              </div>



              <div class="form-group row">
                <label for="contact" class="col-sm-2 col-form-label">E-Mail</label>
                <input type="text" class="form-control" style="width:60%" id="contact no" placeholder="" [(ngModel)]="ContactEmail" #mail name="Mails" value="">
              </div>



              <div class="form-group row">
                <label for="Region" class="col-sm-2 col-form-label">Sales Rep Initial</label>
                <input type="text" class="form-control" style="width:60%" id="Region" placeholder="" [(ngModel)]="SalesRepInit" #initial name="Initialname" value="">
              </div>



            </div>
          </div>
        </form>




      </fieldset>
    </div>
    <div style="color: #bb2205">
      <p class="font-weight-bold">Make your selection by double clicking on your choice</p>
    </div>
    <div style="margin-left:1%;margin-top:1%; height:350px; overflow-y: auto;">
      <table class="table-hover table-bordered" style="margin-left: 10px; background-color: white" id="table" width="98%">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">SalesRepInit</th>
            <th scope="col">Name</th>
            <th scope="col">ContactNumber</th>
            <th scope="col">ContactEmail</th>
            <th scope="col">Region</th>
            <!--<th scope="col">FirstName</th>
            <th scope="col">LastName</th>-->





          </tr>
        </thead>
        <tbody>
          <mat-progress-spinner class="center" style="display: flex; justify-content: center; align-items: center; " *ngIf="isLoading;else conten" color="accent"
                                mode="indeterminate">
          </mat-progress-spinner>
          <tr *ngFor="let salespersondetails of Sales_person  let i=index; " (click)="setvalues( salespersondetails);" #conten>



            <td class="tabledatasize">{{ salespersondetails.ID }}</td>
            <td class="tabledatasize">{{ salespersondetails.SalesRepInit}}</td>
            <td class="tabledatasize">{{ salespersondetails.Name }}</td>
            <td class="tabledatasize">{{ salespersondetails.ContactNumber}}</td>
            <td class="tabledatasize">{{ salespersondetails.ContactEmail }}</td>
            <td class="tabledatasize">{{ salespersondetails.Region}}</td>
            <!--<td class="tabledatasize">{{ salespersondetails.FirstName }}</td>
            <td class="tabledatasize">{{ salespersondetails.LastName}}</td>-->



          </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>



  <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">



    <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:1%" (click)="SalesPersondelete();ClearData();">Delete</button>
    <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:1%" (click)="ClearData();">New</button>
    <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:1%" (click)="SalesPersonsaveupdate(fstname.value,CNnum.value,
Rgn.value,lstnam.value,mail.value,initial.value);ClearData();">
      Save/Update
    </button>
    <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:1%;" matDialogClose>Back</button>
    <h5 style="float:left;margin-top:10px;color:maroon">{{countrecords}} Record(s)</h5>
    <!--<label for="Recordscount" style="float: left; height: 50px; width: 100px; margin-top: 1%; width: 70px;color:red">Records {{countrecords}}</label>-->

  </div>
</div>
