<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:60vh;width:100%">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align:center">Search CMO</h2>

    <fieldset class="border p-2">

      <div style="margin-top:5px;">

        <div class="form-inline">
          <label for="PDR #">CMO Name</label>
          <input style="width:50%" type="text" class="form-control" id="PDR #" [(ngModel)]="cmoname">
        </div>


      </div>
    </fieldset>
    <p style="color:maroon">Make your Selection by double clicking on your choice.</p>

    <div style="margin-left:1%;margin-top:1%; height:400px; overflow-y: auto;">
      <table class="table-hover table-bordered" style="margin-left: 10px; background-color: white" id="serach_project" width="98%">
        <thead>
          <tr>
            <th scope="col" style="width:3%"></th>
            <th scope="col" style="width:50%">CMO Name</th>
            <th scope="col" style="width:50%">State</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let cmo_Details of loadcmo | filter:cmoname:filterMetadata ; let i=index;" (dblclick)="setvalues(cmo_Details);Close();" #conten>

            <td class="tabledatasize"></td>
            <td class="tabledatasize">{{ cmo_Details.CMOName}}</td>
            <td class="tabledatasize">{{ cmo_Details.State}}</td>



          </tr>
        </tbody>
      </table>

    </div>

  </div>



</div>
<div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">

  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-top:1%" matDialogClose>Close</button>
  <h5 style="float:left;margin-top:10px;color:maroon">{{filterMetadata.count}} Record(s)</h5>


</div>


