<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:75vh;">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align: center;">Search Raw Materials</h2>
    <fieldset class="border p-2">
      <legend class="w-auto" style="font-size:15px;color:maroon">Search</legend>
      <div class="form-row" style="margin-top:5px;">
        <div class="form-group col-md-5">

          <label for="PDR #" style="margin-left:10px">Supplier Status</label>

          <select id="PRD" class="form-control" style="width:100%;margin-left: 10px;">
            <option selected>Choose...</option>
            <option>Custom</option>
            <option>RAWS-RAWS</option>
            <option>RM-Raw Mat</option>
          </select>

          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Inci Name</label>
          <input style="width:100%;margin-left:10px" type="text" class="form-control" id="Project Name">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Function</label>
          <select id="PRD" class="form-control" style="width:100%;margin-left: 10px;">
            <option selected>Choose...</option>
            <option>Custom</option>
            <option>RAWS-RAWS</option>
            <option>RM-Raw Mat</option>
          </select>
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Item #</label>
          <input style="width:100%;margin-left:10px" type="text" class="form-control" id="Project Name">
        </div>
        <div class="form-group col-md-7">
          <label for="PDR #" style="margin-left:10px">Supplier</label>
          <input style="width: 60%;margin-left:10px;" type="text" class="form-control" id="PDR #">

          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Trade Name</label>
          <div class="form-inline">
            <input style="width:60%;margin-left:10px" type="text" class="form-control" id="Project Name">
            <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10%;width: 120px;">Quick Save </button>
          </div>
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">CAS No</label>
          <div class="form-inline">
            <input style="width:60%;margin-left:10px" type="text" class="form-control" id="Project Name">
            <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10%;width: 120px;">Clear </button>
          </div>
        </div>
        <div class="form-group col-md-4">


        </div>
      </div>

    </fieldset>
    <div class="form-inline">
      <p style="color:maroon;margin-top: 10px;">Make your selection by double clicking on your choice</p>
      <input type="radio" id="approved" name="No" value="No" style="margin-left:3%;">
      <label for="Yes" style="color: maroon;margin-left: 2px;">Approved</label>

      <input type="radio" id="Approved" name="Approved" value="No" style="margin-left: 3%;">
      <label for="No" style="color: maroon;margin-left: 2px;">Unapproved</label>
      <input type="radio" id="All" name="All" value="Yes" style="margin-left: 3%;">
      <label for="No" style="color: maroon;margin-left: 2px;">All</label>
    </div>
    <div class=" form-row">
      <div class="form-group col-md-12">

        <table class="table table-hover table-striped" style="height:400px;background-color:white">
          <thead>
            <tr>
              <th scope="col">INCI Name</th>
              <th scope="col">Item #</th>
              <th scope="col">Trade Name</th>
              <th scope="col">CAS No</th>
              <th scope="col">Function</th>
              <th scope="col">Supplier Name</th>
              <th scope="col">P#</th>
              <th scope="col">$ Cost</th>
              <th scope="col">Unit</th>
              <th scope="col">Lead Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary buttoncolor" style="margin-right:10px;height:50px;float:right;width: 120px;" matDialogClose>Back </button>
</div>

