<div class="col-sm-12">
  <div style="background-color: #f6f5f1">


    <h2 style="margin-top: 5px;font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Project Status Tracking</h2>

  </div>
</div>

<div>
  <fieldset class="border p-2">
    <legend class="w-auto" style="font-size:15px;color:maroon">Search</legend>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-inline" style="margin-top:10px">
            <label for="Supplier Key" style="margin-left:7%">PDR #</label>
            <input style="width:70%;margin-left:10px" type="text" class="form-control" id="inputSupplier key" placeholder="">
          </div>
          <div class="form-inline" style="margin-top:10px">
            <label for="inputSupplier Name">Project Name</label>
            <input style="width:70%;margin-left:10px" type="text" class="form-control" id="Supplier Name" placeholder="">
          </div>
          <div class="form-inline" style="margin-top:10px">
            <label for="inputSupplier Name" style="margin-left:3%">Formula #</label>
            <input style="width:70%;margin-left:10px" type="text" class="form-control" id="Supplier Name" placeholder="">
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-inline" style="margin-top:10px">
            <label for="Supplier Key" style="margin-left:4%">Customer</label>
            <input style="width:60%;margin-left:10px" type="text" class="form-control" id="inputSupplier key" placeholder="">
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 10px;height: 40px">Search</button>
          </div>
          <div class="form-inline" style="margin-top:10px;margin-left:2%">
            <label for="inputSupplier Name">Project Date</label>
            <select id="PRD" class="form-control" style="width:30%;margin-left:10px">
              <option selected>Date</option>

            </select>
          </div>
          <div class="form-inline" style="margin-top:10px">
            <label for="inputSupplier Name">Formula Name</label>
            <input style="width:60%;margin-left:10px" type="text" class="form-control" id="Supplier Name" placeholder="">
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 10px;  height: 40px">Clear</button>
          </div>
        </div>


      </div>
    </form>
  </fieldset>
</div>
<!--<div style="margin-top:3%">
  <ul class="ratings"style="margin-left: 30%">
    <li class="active"><span class="marker-number">1.0</span> <span class="marker-text">PDR Created</span></li>
    <li class="active"><span class="marker-number">1.1</span> <span class="marker-text">PDR Approved</span></li>
    <li class="active"><span class="marker-number">2.0</span> <span class="marker-text">Formula Created</span></li>
    <li><span class="marker-number">2.1</span> <span class="marker-text">QC Approval</span></li>
    <li><span class="marker-number">2.2</span> <span class="marker-text">Stability Approval</span></li>
  </ul>
  <div class="vl"></div>
  <ul class="ratings" style="margin-top:4.5%;margin-left:10px">
    <li><span class="marker-number">2.7</span> <span class="marker-text">Formula Procedure Approval</span></li>
    <li><span class="marker-number">2.6</span> <span class="marker-text">IL Approval</span></li>
    <li><span class="marker-number">2.5</span> <span class="marker-text">Regulatory Approval</span></li>
    <li><span class="marker-number">2.4</span> <span class="marker-text"> COA Approval</span></li>
    <li><span class="marker-number">2.3</span> <span class="marker-text">Product Testing Approval</span></li>
  </ul>
  <div class="v2" style="margin-top: 30px;"></div>
  <ul class="ratings" style="margin-left:10px">
    <li><span class="marker-number">2.8</span> <span class="marker-text">Formula Approval</span></li>
    <li><span class="marker-number">3.0</span> <span class="marker-text">Sample Creation</span></li>
    <li><span class="marker-number">3.1</span> <span class="marker-text">Sample Approval</span></li>
    <li><span class="marker-number">4.0</span> <span class="marker-text">Productization</span></li>
    <li><span class="marker-number">4.1</span> <span class="marker-text">PIP Approval</span></li>
  </ul>
  <div class="vl"></div>
  <ul class="ratings" style="margin-top:4.5%;margin-left:30%">

    <li><span class="marker-number">4.3</span> <span class="marker-text">Product Approval</span></li>
    <li><span class="marker-number">4.2</span> <span class="marker-text">PIF Approval</span></li>
  </ul>
</div>-->
<div style="margin-top:6%">
  <ul>
    <li>1.0<span class="marker-text">PDR Created</span></li>
    <li>1.1 <span class="marker-text">PDR Approved</span></li>
    <li class="active">2.0 <span class="marker-text">Formula Created</span></li>
    <li >2.1 <span class="marker-text">QC Approval</span></li>
    <li>2.2 <span class="marker-text">Stability Approval</span></li>
    <li>2.3 <span class="marker-text">Product Testing Approval</span></li>

  </ul>
</div>
<div class="vl"></div>
<div style="margin-top:5%">
  <ul>
    <li class="active">3.0<span class="marker-text">Sample Created</span></li>
    <li>2.8<span class="marker-text">Formula Approved</span></li>
    <li>2.7<span class="marker-text">Formula Procedure Approval</span></li>
    <li>2.6<span class="marker-text">IL Approval</span></li>
    <li>2.5<span class="marker-text">Regulatory Approval</span></li>
    <li>2.4<span class="marker-text">COA Approval</span></li>

  </ul>
</div>
<div class="v2" ></div>
<div >
  <ul>
    <li class="active">3.1<span class="marker-text">Sample Approved</span></li>
    <li>4.0<span class="marker-text">Productized</span></li>
    <li>4.1<span class="marker-text">PIP Approval</span></li>
    <li>4.2<span class="marker-text">PIF Approval</span></li>
    <li>4.3<span class="marker-text">Product Approved</span></li>
    

  </ul>
</div>



  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-right:10px;" matDialogClose>Close</button>



