<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:75vh;">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; margin-left:300px">Search Project</h2>
    <fieldset class="border p-2">
      <legend class="w-auto" style="font-size:15px;color:dimgrey">Search</legend>
      <div class="row" style="margin-top:5px;">
        <div class="row-col-sm-12 " style="margin-left: 20px">
          <div class="form-inline">
            <label for="PDR #" style="margin-left:10px">PDR #</label>
            <input style="width:500px;margin-left:63px" type="text" class="form-control" id="PDR #">
          </div>
          <div class="form-inline" style="margin-top:10px">
            <label for="Project Name" style="margin-left:10px">Project Name</label>
            <input style="width:500px;margin-left:10px" type="text" class="form-control" id="Project Name">
          </div>
        </div>
      </div>
    </fieldset>
    <p style="color:maroon">Make your selection by double clicking on your choice</p>
    <div class=" form-row">
      <div class="form-group col-md-12">

        <table class="table table-hover table-striped" style="height:400px;background-color:white">
          <thead>
            <tr>
              <th scope="col">PDR #</th>
              <th scope="col">Project Name</th>
              <th scope="col">Customer Name</th>




            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

      <button type="submit" class="btn btn-primary buttoncolor" style="margin-right:10px;height:50px;float:right;" matDialogClose>Back </button>
  </div>
