<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:88vh;width:100%">
    <h2 style="font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Sample Management</h2>
    <nav ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs ">
      <ng-container ngbNavItem="1" style="margin-left:20px">
        <a class="tabcolor tabbutto tabrowli textsize " routerLinkActive="active" ngbNavLink>Sample Management</a>
        <ng-template ngbNavContent>
          <form class="form-inline" style="background-color: #f6f5f1">

            <label for="" style="margin-left:50px;font-size: medium;
              font-family: Verdana;">PDR #</label>

            <input disabled type="text" [(ngModel)]="PDRno" #pdrnum name="pdrno" value="" style="margin-top: 10px;margin-left: 70px;" class="form-control" size="40">
            <label for="" style="margin-left:40px;font-size: medium;
                  font-family: Verdana;">PDR Date</label>
            <input type="date" [(ngModel)]="PDRDate" #PDRDt name="PDRDate" [disabled]="btnstate" value="" id="PDRDate" style="margin-left:10px" class="form-control" size="30">
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;height:40px;" [disabled]="btnstate" (click)="searchproductlisting()">Search PDR#</button>

          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Customer Name</label>
            <input disabled type="text" style="margin-top: 10px; margin-left: 20px;" class="form-control" [(ngModel)]="cstmrname" #customer name="cstmrname" value="" [disabled]="issearchform" id="customername" size="80">

          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">
            <label for="" style="margin-left:20px;font-size: medium;
         font-family: Verdana;">Formula Code</label>
            <input disabled id="formulacode" type="text" style="margin-top: 10px; margin-left: 40px;" class="form-control" size="80" [(ngModel)]="formulacode" #formulacod name="formulacode" value="" [disabled]="issearchform">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:20px;font-size: medium;
         font-family: Verdana;">Formula Name</label>
            <input disabled type="text" style="margin-top: 10px; margin-left: 35px;" class="form-control" id="" [(ngModel)]="formulaname" #formulanam name="formulaname" value="" [disabled]="issearchform" size="80">
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;margin-top:10px; height:40px;" [disabled]="btnstate" (click)="searchformulaopen()">
              Search Formula
            </button>
          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">

            <label for="" style="margin-left:30px;font-size: medium;
           font-family: Verdana;">Submission #</label>
            <input type="text" style="margin-top: 5px; margin-left: 30px;" class="form-control" [disabled]="btnstate" id="" size="35" [(ngModel)]="submissionno" #samplesubmission name="submissionno" value="{{this.Samplesubmission}}" [disabled]="issearchform" />
            <label for="" style="margin-left:10px;font-size: medium;
          font-family: Verdana;">Submission Date</label>
            <input type="date" [(ngModel)]="submissiondate" #submissionDt name="submissiondate" [disabled]="btnstate" style="margin-left:30px" class="form-control">
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;height:40px;"
                    (click)="searchsubmission()">
              Search Submission
            </button>

          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">
            <label for="" style="margin-top: 10px; margin-left: 28px; font-size: medium; font-family: Verdana;">Lab open status</label>
            <select id="" [(ngModel)]="LabopenStatus" #LabopenStat name="LabopenStatus" [disabled]="btnstate" class="form-control" style="width:13%;margin-left:15px">
              <option selected>O-Open</option>
              <option>C-Closed</option>
              <option>S-Sales(Back to Sales)</option>

            </select>
            <label for="" style="margin-left: 20px;font-size: medium;
          font-family: Verdana;">Sample Status</label>
            <select id="PdrStatus" [(ngModel)]="PDRStatus" #PdrStat name="PDRStatus" [disabled]="datedisabled" class="form-control" style="width:40%;margin-left:10px">
              <option selected>N-New</option>
              <option>R-Redirect(customer sending back for enhancements)</option>
              <option>BT-Bulk Transfer(more of the same samples)</option>
              <option>FA-Fill Assessment</option>
              <option>C-Costing</option>
              <option>F-Formulation</option>
              <option>RDF-Redirect Fragrance</option>
              <option>VE-Value Engineered</option>
              <option>VE-Value Engineered</option>
              <option>VE-Value Engineered</option>
              <option>S-Sales</option>
              <option>R-Rejected</option>
              <option>A-Approved </option>
              <option>AW-Approved-ON WAIVER</option>

            </select>
          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">

            <label for="" style="margin-left:30px;font-size: medium;
           font-family: Verdana;">Sales REP  </label>
            <input type="text" [(ngModel)]="REP" #re name="REP" style="margin-top: 10px; margin-left: 60px;" class="form-control" id="" size="45">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Due Date</label>
            <input type="date" [(ngModel)]="duedate" #duedt name="duedate" [disabled]="datedisabled" style="margin-left:10px" class="form-control">


          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">

            <label for="" style="margin-left:39px;font-size: medium;
            font-family: Verdana;">Priority</label>
            <input type="text" [(ngModel)]="Priority" #Prior name="Priority" style="margin-top: 10px; margin-left: 75px;" class="form-control" id="" size="80">
          </form>
          <form class="form-inline" style="background-color: #f6f5f1">

            <label for="" style="margin-left:5px;font-size: medium;
              font-family: Verdana;">Customer Approval</label>
            <input type="radio" style="margin-top: 10px; margin-left: 30px;" class="form-control" [disabled]="btnstate" id="Y" [(ngModel)]="Approved" #custom name="Approved" value="Yes" size="50">
            <label for="" style="margin-left:10px;font-size: medium;
           font-family: Verdana;">Yes</label>
            <input type="radio" style="margin-top: 10px; margin-left: 40px;" class="form-control" [disabled]="btnstate" id="N" [(ngModel)]="Approved" #custom name="Approved" value="No" size="50">
            <label for="" style="margin-top: 10px; margin-left: 10px; font-size: medium; font-family: Verdana;">No</label>
            <label for="" style="margin-left:90px;font-size: medium;
              font-family: Verdana;">Approval Date</label>
            <input type="date" [(ngModel)]="approvaldate" #approvaldt name="approvaldate" [disabled]="datedisabled" class="form-control" style="margin-left: 20px;" id="" size="30">
          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">

            <label for="" style="margin-top: 10px; margin-left: 60px; font-size: medium; font-family: Verdana;">Quantity</label>
            <input type="number" [(ngModel)]="qty" #qt name="qty" [disabled]="datedisabled" style="margin-top: 10px; margin-left: 45px; " class="form-control" id="" size="2">
            <label for="" style="margin-left: 10px; font-size: medium; font-family: Verdana; ">Unit</label>
            <input type="text" [(ngModel)]="unit" #unt name="unit" [disabled]="datedisabled" style="margin-top: 10px; margin-left: 5px; " class="form-control" id="" size="5">
            <label for="" style="margin-left: 10px; font-size: medium; font-family: Verdana; ">Sample Cost $</label>
            <input type="number" value="0.00" [(ngModel)]="Price" #Prc name="Price" [disabled]="datedisabled" style="margin-top: 10px; margin-left: 5px; " class="form-control" id="" size="2">
            <label for="" style="margin-left: 10px; font-size: medium; font-family: Verdana; "># of Pieces</label>
            <input type="text" [(ngModel)]="noofpieces" #noofpie name="noofpieces" style="margin-top: 10px; margin-left: 5px;" class="form-control" id="" size="5">

          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">

            <label for="" style="margin-left:40px;font-size: medium;
           font-family: Verdana;">Purpose</label>
            <textarea class="form-control" id="" [(ngModel)]="Purpose" #purpos name="Purpose" style="width:70%; height: 80%; margin-left: 6%;margin-top:1%;"></textarea>
          </form>
          <form class="form-inline" style="    background-color: #f6f5f1">

            <label for="" style="margin-left:40px;font-size: medium;
           font-family: Verdana;">Comments</label>
            <textarea class="form-control" id="" [(ngModel)]="CustomerComments" #CustomerCmt name="CustomerComments" style="width:70%; height: 80%; margin-left: 4%;margin-top:1%;"></textarea>
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:40px;font-size: medium;
          font-family: Verdana;">Fax Person</label>
            <input type="text" [(ngModel)]="FaxPerson" #FaxPer name="FaxPerson" style="margin-top: 10px; margin-left: 45px;" class="form-control" id="Contact Person 1" size="40">
            <label for="" style="margin-left:40px;font-size: medium;
          font-family: Verdana;">Fax No</label>
            <input type="text" [(ngModel)]="Fax" #fa name="Fax" style="margin-top: 10px; margin-left: 40px;" class="form-control" size="40">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Approved By</label>
            <input type="text" [(ngModel)]="ApprovedBy" #apprvby name="ApprovedBy" style="margin-top: 10px; margin-left: 50px;" class="form-control" id="Contact Person 1" size="40">
            <label for="" style="margin-left:50px;font-size: medium;
          font-family: Verdana;">Title</label>
            <input type="text" [(ngModel)]="PersonTitle" #PersonTit name="PersonTitle" style="margin-top: 10px; margin-left: 50px;" class="form-control" size="40">
          </form>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="samplereport()">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem="2">
        <a class="tabcolor tabbutto tabrowli textsize" ngbNavLink>Customer Details</a>
        <ng-template ngbNavContent>
          <form class="form-inline">
            <label for="" style="margin-left:15px;font-size: medium;
          font-family: Verdana;">Customer Name</label>
            <input disabled type="text" style="margin-top: 10px; margin-left: 40px;" class="form-control" placeholder="Enter Customer Name" [(ngModel)]="cstmrname" #customer name="cstmrname" id="" size="78">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:35px;font-size: medium;
          font-family: Verdana;">Address</label>
            <textarea disabled class="form-control" [(ngModel)]="address" #addr name="address" rows="3" style="width:51%; height: 30%; margin-left: 7%;margin-top:1%;"></textarea>
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:42px;font-size: medium;
          font-family: Verdana;">TelePhone</label>
            <input disabled type="text" style="margin-top: 10px; margin-left: 65px;" class="form-control" placeholder="Enter TelePhone No" id="Telephone" [(ngModel)]="phone" #pho name="phone" size="20">
            <label for="" style="margin-left:15px;font-size: medium;
          font-family: Verdana;">Fax</label>
            <input disabled type="text" style="margin-top: 10px; margin-left: 10px;" [(ngModel)]="fax" #fa name="fax" class="form-control" placeholder="Enter Fax" id="" size="42">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:54px;font-size: medium;
          font-family: Verdana;">Email</label>
            <input disabled type="email" style=" margin-left: 90px;" class="form-control" [(ngModel)]="emailref" #emrf name="emailref" placeholder="Enter Email" id="" size="78">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:5px;font-size: medium;
          font-family: Verdana;">Customer Comments</label>
            <textarea class="form-control" [(ngModel)]="CustomerComments" #CustomerCmt name="CustomerComments" id="" rows="3" style="width:51%; height: 30%; margin-left: 1%;margin-top:1%;"></textarea>
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Contacts Person 1</label>
            <input disabled type="text" [(ngModel)]="contactfperson" #contactfper name="contactfperson" style="margin-top: 10px; margin-left: 20px;" class="form-control" size="25">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Email 1</label>
            <input disabled type="text" [(ngModel)]="contactfmail" #contactfem name="contactfmail" style="margin-top: 10px; margin-left: 20px;" class="form-control" size="30">
            <input type="checkbox" style="margin-top: 10px; margin-left: 20px;" class="form-control">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Contacts Person 2</label>
            <input disabled type="text" [(ngModel)]="contactsperson" #contactsper name="contactsperson" style="margin-top: 10px; margin-left: 20px;" class="form-control" size="25">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Email 2</label>
            <input disabled type="text" [(ngModel)]="contactsmail" #contactsem name="contactsmail" style="margin-top: 10px; margin-left: 20px;" class="form-control" size="30">
            <input type="checkbox" style="margin-top: 10px; margin-left: 20px;" class="form-control">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Contacts Person 3</label>
            <input disabled type="text" [(ngModel)]="contacttperson" #contacttper name="contacttperson" style="margin-top: 10px; margin-left: 20px;" class="form-control" id="Contact Person 3" size="25">
            <label for="" style="margin-left:20px;font-size: medium;
          font-family: Verdana;">Email 3</label>
            <input disabled type="text" [(ngModel)]="contacttmail" #contacttem name="contacttmail" style="margin-top: 10px; margin-left: 20px;" class="form-control" size="30">
            <input type="checkbox" style="margin-top: 10px; margin-left: 20px;" class="form-control">
          </form>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="3">
        <a class="tabcolor tabbutto tabrowli textsize" (click)="pdrlistclik()" ngbNavLink>PDR Listing </a>
        <ng-template ngbNavContent>
          <form class="form-inline" style="background-color: #f6f5f1">

            <label for="" style="margin-left:80px;font-size: medium;
              font-family: Verdana;">PDR #</label>
            <input type="text" style="margin-top: 10px;margin-left: 38px;" [(ngModel)]="PDRnodata" #pdrnum name="PDRno" value="" class="form-control" id="" size="61">
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;height:40px;" (click)="searchPDRlisting()">Search</button>
            <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;height:40px;" (click)=" clearpdr()">Clear</button>
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:42px;font-size: medium;
                  font-family: Verdana;">Formula Name</label>
            <input type="text" style="margin-left:10px" [(ngModel)]="formulanamedata" #formula name="formulaname" value="" class="form-control" size="61">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:50px;font-size: medium;
                  font-family: Verdana;">Submission #</label>
            <input type="text" [(ngModel)]="submissionnodata" #subnum name="submissionnodata" style="margin-left:10px" class="form-control" size="61">
          </form>
          <form class="form-inline">
            <label for="" style="margin-left:28px;font-size: medium;
                  font-family: Verdana;">Customer Name</label>
            <input type="text" style="margin-left:10px" [(ngModel)]="cstmrnamedata" #customer name="cstmrname" class="form-control" value="" size="61">
          </form>
          <form class="form-inline">
            <label for="" style=" margin-left: 15px; font-size: medium; font-family: Verdana;">Lab open status</label>
            <select id="" [(ngModel)]="LabopenStatusdata" #labop name="LabopenStatus" class="form-control" style="width:42%;margin-left:26px">
              <option selected>O-Open</option>
              <option>C-Closed</option>
              <option>S-Sales(Back to Sales)</option>

            </select>
          </form>

          <form class="form-inline">
            <label for="" style="margin-left: 45px;font-size: medium;
          font-family: Verdana;">PDR Status</label>
            <select id="" [(ngModel)]="PDRStatusdata" #PdrStatus name="PDRStatus" class="form-control" style="width:42%;margin-left:35px">
              <option selected>N-New</option>
              <option>R-Redirect(customer sending back for enhancements)</option>
              <option>BT-Bulk Transfer(more of the same samples)</option>
              <option>FA-Fill Assessment</option>
              <option>C-Costing</option>
              <option>F-Formulation</option>
              <option>RDF-Redirect Fragrance</option>
              <option>VE-Value Engineered</option>
              <option>S-Sales</option>
              <option>R-Rejected</option>
              <option>A-Approved </option>

            </select>
          </form>
          <div style="margin-left:1%;margin-top:1%;height:700px;background-color:white;overflow-y:auto ">
            <table class="table table-bordered" style="margin-left: 1px; background-color: white" id="table" width="98%">
              <thead>
                <tr>
                  <th scope="col">PDR</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Formula Name</th>
                  <th scope="col" hidden>FormulaCode</th>
                  <th scope="col">Submission #</th>
                  <th scope="col">PDR Status</th>
                  <th scope="col">Lab Status</th>
                  <th scope="col">Username</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ProductList_search of dataresultLoadpdrlist | filter:PDRnodata:filterMetadata|
                    filter:cstmrnamedata:filterMetadata|filter:formulanamedata:filterMetadata|filter:formulacodedata:filterMetadata|
                    filter:submissionnodata:filterMetadata|filter:PDRStatusdata:filterMetadata|filter:LabopenStatusdata:filterMetadata|
                    filter:UserNameadata:filterMetadata; let i=index;" (click)="setvalues(ProductList_search);navpdrvalues();" #conten>
                  <td class="tabledatasize">{{ProductList_search.PDRNo}}</td>
                  <td width="15%" class="tabledatasize"> {{ProductList_search.CusName}}</td>
                  <td width="15%" class="tabledatasize">{{ProductList_search.Description}} </td>
                  <td width="15%" class="tabledatasize" hidden>{{ProductList_search.FormulaCode}} </td>
                  <td class="tabledatasize"> {{ProductList_search.SubmissionNo}}</td>
                  <td width="15%" class="tabledatasize">{{ProductList_search.PDRStatus}} </td>
                  <td class="tabledatasize">{{ProductList_search.LabOpenStatus}} </td>
                  <td class="tabledatasize">{{ProductList_search.UserName}} </td>

                </tr>

              </tbody>
            </table>

          </div>
          <h5 style="float:left;margin-top:10px;color:maroon">{{filterMetadata.count}} Record(s)</h5>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="4">
        <a class="tabcolor tabbutto tabrowli textsize" ngbNavLink>PDR Listing By Date</a>
        <ng-template ngbNavContent>
          <fieldset>
            <form class="form-inline" style="background-color: #f6f5f1">
              <label for="" style="margin-left:40px;font-size: medium;
              font-family: Verdana;">PDR Date</label>
              <label for="" style="margin-left:40px;font-size: medium;
              font-family: Verdana;">From</label>
              <input type="date" value="{{dtpPDRFromDate}}" [(ngModel)]="dtpPDRFromDate" #PDRFromDate name="dtpPDRFromDate" style="margin-top: 10px;margin-left: 20px;" class="form-control" id="" size="50">
              <label for="" style="margin-left:10px;font-size: medium;
              font-family: Verdana;">To</label>
              <input type="date" value="{{dtpPDRToDate }}" [(ngModel)]="dtpPDRToDate" #PDRToDate name="dtpPDRToDate" style="margin-top: 10px;margin-left: 20px;" class="form-control" id="" size="50">
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;height:40px;" (click)="LoadPDRDate()">Search</button>
            </form>
          </fieldset>
          <div style="margin-left:1%;margin-top:1%;height:700px;background-color:white;overflow-y:auto ">
            <table class="table table-bordered" style="margin-left: 1px; background-color: white" id="table" width="98%">
              <thead>
                <tr>
                  <th scope="col">PDR</th>
                  <th scope="col">PDR Date</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Formula Name</th>
                  <th scope="col" hidden>FormulaCode</th>
                  <th scope="col">Submission #</th>
                  <th scope="col">PDR Status</th>
                  <th scope="col">Lab Status</th>
                  <th scope="col">Username</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let PdrbydateList_search of dataresultLoadpdrbydatelist ; let i=index;" (click)="setbydatevalues( PdrbydateList_search);navpdrdatevalues()" #conten>
                  <td class="tabledatasize">{{PdrbydateList_search.PDRNo}}</td>
                  <td class="tabledatasize">{{PdrbydateList_search.PDRDate}}</td>
                  <td width="15%" class="tabledatasize">{{PdrbydateList_search.CusName}}</td>
                  <td width="15%" class="tabledatasize">{{PdrbydateList_search.Description}} </td>
                  <td width="15%" class="tabledatasize" hidden>{{PdrbydateList_search.FormulaCode}} </td>
                  <td class="tabledatasize"> {{PdrbydateList_search.SubmissionNo}}</td>
                  <td width="15%" class="tabledatasize">{{PdrbydateList_search.PDRStatus}} </td>
                  <td class="tabledatasize">{{PdrbydateList_search.LabOpenStatus}} </td>
                  <td class="tabledatasize">{{PdrbydateList_search.UserName}} </td>

                </tr>

              </tbody>
            </table>
          </div>
          <h5 style="float:left;margin-top:10px;color:maroon">{{filterMetadata.count}} Record(s)</h5>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate">Sample Submission Form</button>

          </div>
        </ng-template>

      </ng-container>
      <ng-container ngbNavItem="6">
        <a class="tabcolor tabbutto tabrowli textsize" ngbNavLink>Documents</a>
        <ng-template ngbNavContent>
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <fieldset class="border p-2" height="80px">
                  <legend class="w-auto" style="font-size:15px;padding:10px;color:Black">Browse Files</legend>
                  <div class="form-inline">
                    <input style="width: 80%;" type="text" class="form-control" id="data1" [(ngModel)]="doc1" name="d1" value="">
                    <div class="form-group">
                      <label for="file" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file"
                             (change)="handleFileInput($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;" (click)="fileselect()">Open</button>
                  </div>
                  <div class="form-inline" style="margin-top:10px">
                    <input style="width: 80%;" type="text" class="form-control" id="data2" [(ngModel)]="doc2" name="d2" value="">
                    <div class="form-group">
                      <label for="file1" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file1"
                             (change)="handleFileInput1($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Open</button>
                  </div>
                  <div class="form-inline" style="margin-top:10px">
                    <input style="    width: 80%;" type="text" class="form-control" id="data3" [(ngModel)]="doc3" name="d3" value="">
                    <div class="form-group">
                      <label for="file2" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file2"
                             (change)="handleFileInput2($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Open</button>
                  </div>
                  <div class="form-inline" style="margin-top:10px">
                    <input style="    width: 80%;" type="text" class="form-control" id="data4" [(ngModel)]="doc4" name="d4" value="">
                    <div class="form-group">
                      <label for="file3" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file3"
                             (change)="handleFileInput3($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Open</button>
                  </div>
                  <div class="form-inline" style="margin-top:10px">
                    <input style="    width: 80%;" type="text" class="form-control" id="data5" [(ngModel)]="doc5" name="d5" value="">
                    <div class="form-group">
                      <label for="file4" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file4"
                             (change)="handleFileInput4($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Open</button>
                  </div>
                  <div class="form-inline" style="margin-top:10px">
                    <input style="    width: 80%;" type="text" class="form-control" id="data6" [(ngModel)]="doc6" name="d6" value="">
                    <div class="form-group">
                      <label for="file5" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file5"
                             (change)="handleFileInput5($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Open</button>
                  </div>
                  <div class="form-inline" style="margin-top:10px">
                    <input style="    width: 80%;" type="text" class="form-control" id="data7" [(ngModel)]="doc7" name="d7" value="">
                    <div class="form-group">
                      <label for="file6" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Browse</label>
                      <input type="file" style="display:none"
                             id="file6"
                             (change)="handleFileInput6($event.target.files)">
                    </div>
                    <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:90px;">Open</button>
                  </div>
                </fieldset>
              </div>

            </div>
          </form>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="7">
        <a class="tabcolor tabbutto tabrowli textsize" ngbNavLink>Disclaimers</a>
        <ng-template ngbNavContent>
          <fieldset class="border p-2">
            <legend class="w-auto" style="font-size:15px;padding:10px;color:Black">Enter Disclaimers</legend>
            <div class="form-inline">
              {{this.Disclaimers}}
            </div>
          </fieldset>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="8">
        <a class="tabcolor tabbutto tabrowli textsize" ngbNavLink>Audit Tracking</a>
        <ng-template ngbNavContent>
          <form>

            <div class="col-1">

            </div>
            <div style="margin-left:1%;margin-top:1%;height:700px;background-color:white;overflow-y:auto ">
              <table class="table table-bordered" style="margin-left: 10px; background-color: white" id="table" width="98%">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Task</th>
                    <th scope="col">Username</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sampleaudit_search of dataresultLoadsampleaudit;let i=index;" (click)="setauditvalues(sampleaudit_search);close();" #conten>

                    <td hidden>{{sampleaudit_search.submissionno}}</td>
                    <td>{{sampleaudit_search.date}}</td>
                    <td>{{sampleaudit_search.Task}}</td>
                    <td>{{sampleaudit_search.UserName}}</td>
                  </tr>
                </tbody>
              </table>


            </div>

          </form>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="9">
        <a class="tabcolor tabbutto tabrowli textsize" ngbNavLink>Document Audit Tracking</a>
        <ng-template ngbNavContent>
          <form>

            <div class="col-1">

            </div>
            <div style="margin-left:1%;margin-top:1%;height:700px;background-color:white;overflow-y:auto ">
              <table class="table table-bordered" style="margin-left: 10px; background-color: white" id="table" width="98%">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Task</th>
                    <th scope="col">Username</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let values of AudittrackData;">


                    <td width="15%" class="tabledatasize"></td>
                    <td class="tabledatasize"></td>
                    <td width="15%" class="tabledatasize"> </td>

                  </tr>

                </tbody>
              </table>


            </div>

          </form>
          <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">


            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="gotoback()" matDialogClose>Back</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" (click)="SaveSample();ChangeText()">{{btnval}}</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate" (click)=" ClearData()">New/Clear</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px;height:50px;margin-top:.5%" [disabled]="btndisstate">Sample Submission Form</button>

          </div>
        </ng-template>
      </ng-container>




    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

</div>

