
<div style="background-color:white">
  <label style="margin-left:1%">SMARTFormulator</label>
  <mat-dialog-content style="text-align:center;font-size:medium;font-weight:500">{{data.displaydatagrid}}</mat-dialog-content>
  <mat-dialog-actions style="margin-bottom:.4%;float:right">
    <button type="submit" class="btn btn-primary buttoncolor" mat-button mat-dialog-close ="true">Yes</button>
    <button type="submit" class="btn btn-primary buttoncolor" mat-button mat-dialog-close ="false">No</button>
  </mat-dialog-actions>
</div>
