<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">
        <form class="form-inline text-center" style="margin-bottom:20px;">
          <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;margin-left:47%">Market Indicator</h2>
        </form>
      </div>
    </div>
    <div>
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon"></legend>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-inline">
              <label style="margin-left:4%">Market Indicator</label>
              <input style="width: 50%;margin-left:25px" type="text" class="form-control" [(ngModel)]="marketingindicator" #marketingindica name="marketingindicato" value="">
            </div>
            <input hidden style="width: 50%;margin-left:25px" type="text" class="form-control" [(ngModel)]="marketingid" #marketingID name="marketingiD" value="">
          </div>
        </div>
      </fieldset>
    </div>
    <div style="color: #bb2205">
      <p class="font-weight-bold" style="margin-top:1%;margin-left:1%">Click To Edit the value in Grid</p>
    </div>
    <div style="margin-left:1%;margin-top:1%; height:500px; overflow-y: auto;">
      <table class=" table table-hover table-bordered" style="height:auto;width:100%;background-color:white">
        <thead>
          <tr>
            <th scope="col">Market Indicator</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datas of market_indi_data; let i=index; " (click)="setvalues(datas);">
            <td hidden> {{ datas.MarketingId}}</td>
            <td>{{ datas.MarketingIndicator}}</td>
          </tr>
        </tbody>
      </table>
    </div>



  </div>



</div>
<div style="margin-top:0.5%">
  <button type="submit" class="btn btn-primary buttoncolor" style="float:right;" matDialogClose>Close</button>
  <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px" (click)="Marketingindicator_Update(marketingID.value,marketingindica.value)">Save / Update</button>
  <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px">New</button>
  <button type="submit" class="btn btn-primary buttoncolor" style="float:right;margin-right:10px" (click)="Marketingind_delete(marketingindica.value)">Delete</button>
</div>
