<div class="card" style="height:100%;width:100%;">
  <div class="card-header text-center">
    Sotorage Condition:2.0 oz white jar<br>
    Select Lab batch tickets to compare
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-inline">
        <input type="checkbox" id="Yes" name="Yes" value="Yes">
        <label for="FormulationDetail">Formula 1002.Ver 06-LB-1-101519-admin</label><br>
      </div>
      <div class="form-inline">



      </div>
    </div>
    <div class="form-row">

      <div class="form-inline">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="col">
      </div>
      <div class="col-7">
        <div style="margin-top:1%">
          <div class="form-inline">
            <mat-dialog-actions>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" (click)=" SelectTocompare()">Select To Compare</button>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:26px;" matDialogClose>Cancel</button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
