<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">
        <form class="form-inline text-center" style="margin-bottom:20px;">
          <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;margin-left:47%">Market Indicator</h2>
        </form>
      </div>
    </div>
    <div>
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon"></legend>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-inline">
              <label style="margin-left:4%">Market Indicator</label>
              <input style="width: 50%;margin-left:25px" type="text" class="form-control">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div style="color: #bb2205">
      <p class="font-weight-bold" style="margin-top:1%;margin-left:1%">Click To Edit the value in Grid</p>
    </div>
    <div>
      <table class="table table-bordered">



        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Market Indictor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
          </tr>



        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>

</div>
<div style="margin-top:0.5%">
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;" matDialogClose>Close</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">Save</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">New</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">Delete</button>
</div>
