<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">


        <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Search Formula</h2>

      </div>
    </div>
    <div>
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon">Search</legend>
        <form>
          <div class="form-group row">
            <label for="Supplier Key" class="col-sm-2 col-form-label">Formula code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputSupplier key" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputSupplier Name" class="col-sm-2 col-form-label">Formula Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Supplier Name" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputSupplier Name" class="col-sm-2 col-form-label">Lab Notebook #</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Supplier Name" placeholder="">
            </div>
          </div>
        </form>
      </fieldset>
    </div>
    <div style="color: #bb2205">
      <p class="font-weight-bold">Make your selection by double clicking on your choice</p>
    </div>
    <div>
      <table class="table table-bordered">
        ,
        <thead>
          <tr>
            <th scope="col">Formula Code</th>
            <th scope="col">Formula Name</th>
            <th scope="col">Lab Notebook #</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>
</div>
<div class="form-row" style=" margin-bottom:80%;position:fixed">
  


      <mat-dialog-actions>
       
        <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;" matDialogClose>Close</button>
      </mat-dialog-actions>
  
 
</div>

