<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">
        <form class="form-inline text-center" style="margin-bottom:20px;">



          <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;margin-left:47%">Marketing Call-Outs</h2>
        </form>
      </div>
    </div>
    <div>
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon"></legend>
        <form class="form-inline" style="    background-color: #f6f5f1">
          <label for="TradeName" style="margin-left: 80px;">Trade Name</label>
          <input type="text" style="margin-left: 20px;" class="form-control" id="PDR" size="130">
          <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:10px;height:40px;width:130px;">Search</button>
        </form>
        <form class="form-inline">
          <label for="IngredientName" style="margin-left: 24px;">Ingredient Name</label>
          <input type="text" style="margin-top:10px;margin-left:45px;" class="form-control" id="formula_pdr" size="130">
        </form>
        <form class="form-inline">
          <label for="Benifits" style="margin-left: 32px;">Benifits</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="margin-left:6.8%;width:74.1%;margin-top:0.5%"></textarea>
        </form>
        <form class="form-inline">
          <label for="CountryofOrigin" style="margin-left: 24px;">Country of Origin</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="margin-left:2.8%;width:74.1%;margin-top:0.5%"></textarea>
        </form>
      </fieldset>
    </div>
    <div style="background-color:#849eb0">
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon">Search</legend>
        <form class="form-inline">
          <label for="TradeName" style="margin-left: 20px;">Trade Name</label>
          <input type="text" style="margin-top:10px;margin-left:30px;" class="form-control" id="Trade_Name" size="40">
          <label for="Formulacode" style="margin-left: 20px;">INCI Name</label>
          <input type="text" style="margin-top:10px;margin-left:30px;" class="form-control" id="INCI_Name" size="40">
          <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10px;margin-top:10px; height: 40px; width: 150px;">Search</button>
          <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10px;margin-top:10px; height: 40px; width: 150px;">Clear</button>
        </form>
      </fieldset>
    </div>
    <div style="color: #bb2205">
      <p class="font-weight-bold"> Double click to Edit the value</p>
    </div>
    <div>
      <table class="table table-bordered">
        
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">No</th>
            <th scope="col">Trade Name</th>
            <th scope="col">Ingredient Name</th>
            <th scope="col">Benifits</th>
            <th scope="col">Country of Origin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>
</div>
<div style="margin-top:0.5%">
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;" matDialogClose>Close</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-right:10px">Save</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-right:10px">New</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-right:10px">Delete</button>
</div>
