<div style="background-color: #f6f5f1">
  <form class="form-inline" style="margin-left:200px;margin-bottom:20px;">
    <h2 style="   margin-top: 20px; font-family: Playfair Display; background-color: #f6f5f1;color: #150485">SMART</h2>
    <h2 style="     margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: #bb2205">Formulator </h2>
    <h2 style="    margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black">-Add Group</h2>
  </form>
  <div>
    <form class="form-inline" style="    background-color: #f6f5f1;margin-top: 10px;">
      <label for="companylogo" style="margin-left: 35px;">Group Name</label>
      <input type="text" style="margin-left: 78px;" class="form-control" id="PDR" size="50" #mailser>
    </form>
    <form class="form-inline" style="    background-color: #f6f5f1;margin-top: 10px;">
      <label for="companylogo" style="margin-left: 35px;">Group Description</label>
      <input type="text" style="margin-left: 40px;" class="form-control" id="PDR" size="50" #mailser>
    </form>
    <span style="margin-left:25px;">Permission</span>
    <div>
      <div class="card" style="margin-left:35px;">
        <div class="card-body" style="margin-left:35px;">
          <input type="checkbox" id="user1" name="user1" value="User1">
          <label for="user1">&nbsp; PDR Creation</label><br>
          <input type="checkbox" id="user2" name="PDR Approval" value="User2">
          <label for="user2">&nbsp; PDR Approval</label><br>
          <input type="checkbox" id="user3" name="Formula Creation" value="User3">
          <label for="user3">&nbsp; Formula Creation</label><br>
          <input type="checkbox" id="user3" name="Formula Creation" value="User3">
          <label for="user3">&nbsp; QC Test Approvals</label><br>
          <input type="checkbox" id="QC Test Approvals" name="QC Test Approvals" value="QC Test Approvals">
          <label for="user3">&nbsp; Product Testing Approvals</label><br>
          <input type="checkbox" id="Product Testing Approvals" name="Product Testing Approvals" value="Product Testing Approvals">
          <label for="user3">&nbsp; Stability Test Approvals</label><br>
          <input type="checkbox" id="Stability Test Approvals" name="Formula CreationStability Test Approvals" value="Stability Test Approvals">
          <label for="user3">&nbsp; COA Approvals</label><br>
          <input type="checkbox" id="COA Approvals" name="COA Approvals" value="COA Approvals">
          <label for="user3">&nbsp; Regulatory Approvals/Rejection</label><br>
          <input type="checkbox" id="Regulatory Approvals/Rejection" name="Regulatory Approvals/Rejection" value="Regulatory Approvals/Rejection">
          <label for="user3">&nbsp; IL (Label) Approval</label><br>
          <input type="checkbox" id="IL (Label) Approval" name="IL (Label) Approval" value="IL (Label) Approval">
          <label for="user3">&nbsp; Formula Procedure Approval</label><br>
          <input type="checkbox" id="Formula Procedure Approval" name="Formula Procedure Approval" value="Formula Procedure Approval">
          <label for="user3">&nbsp; Formula Arrpoval/Rejection</label><br>
          <input type="checkbox" id="Formula Arrpoval/Rejection" name="Formula Arrpoval/Rejection" value="Formula Arrpoval/Rejection">
          <label for="user3">&nbsp; Sample Creation</label><br>
          <input type="checkbox" id="Sample Creation" name="Sample Creation" value="Sample Creation">
          <label for="user3">&nbsp; Sample Approval/Rejection</label><br>
          <input type="checkbox" id="Sample Approval/Rejection" name="Sample Approval/Rejection" value="Sample Approval/Rejection">
          <label for="user3">&nbsp; Productization(to scale up & manufacture)</label><br>
          <input type="checkbox" id="Productization" name="Productization(to scale up & manufacture)" value="Productization(to scale up & manufacture)">
          <label for="user3">&nbsp; PCC Approval</label><br>
          <input type="checkbox" id="PCC Approval" name="PCC Approval" value="PCC Approval">
          <label for="user3">&nbsp; PIF Approval</label><br>
          <input type="checkbox" id="PIF Approval" name="PIF Approval" value="PIF Approval">
          <label for="user3">&nbsp; Product Approval</label><br>
        </div>
      </div>
    </div>
  </div>
  <form class="form-inline" style="   margin-top: 30px;margin-bottom:20px">
    <mat-dialog-actions>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:40px;height:50px;width:100px;">Select All </button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:110px;">Deselect All </button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:110px;">Save </button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:110px;" matDialogClose>Cancel</button>
    </mat-dialog-actions>


  </form>
</div>


