<div class="card">
  <div class="card-header text-center">
    Select Graph
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-inline">
        <input type="radio" id="Yes" name="Yes" value="Yes">
        <label for="FormulationDetail">Formulation Detail</label><br>
      </div>
      <div class="form-inline">
      </div>
    </div>
    <div class="form-row">
      <div class="form-inline">
        <input type="radio" id="Yes" name="Yes" value="Yes">
        <label for="CostDetails">Cost Details</label><br>
      </div>
      <div class="form-inline">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="col">
      </div>
      <div class="col-7">
        <div style="margin-top:1%">
          <div class="form-inline">
            <mat-dialog-actions>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;">Ok</button>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" matDialogClose>Cancel</button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
