<div style="background-color: #f6f5f1">

      <form class=" text-center" style="margin-bottom:20px;">
       
        <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Terms Master</h2>
      </form>
   
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="inputTerm Code" class="col-sm-2 col-form-label">Term Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTerm Code" placeholder="Term Code" [(ngModel)]="TermCode" #termcode name="termscd" value="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputTerms" class="col-sm-2 col-form-label">Terms</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTerms" placeholder="Terms" [(ngModel)]="Terms" #termsdata name="term" value="">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <p style="margin-left:2%;">Click to Edit the Value in Grid</p>
  </div>
  <div style="margin-left:1%;margin-top:1%; height:300px; overflow-y: auto;">
    <table class=" table table-hover table-bordered" style="margin-left: 10px; background-color: white" id="table" width="98%">
      <thead>
        <tr>
         
          <th scope="col">Term Code</th>
          <th scope="col">Terms</th>



        </tr>
      </thead>
      <tbody>
        <mat-progress-spinner class="center" style="display: flex; justify-content: center; align-items: center; " *ngIf="isLoading;else conten" color="accent"
                              mode="indeterminate">
        </mat-progress-spinner>
        <tr *ngFor="let Termmastersdata of Termsdata  | filter:TermCode:filterMetadata|filter:Terms:filterMetadata; let i=index; " (click)="setvalues(Termmastersdata);" #conten>



         
          <td class="tabledatasize">{{ Termmastersdata.TermCode}}</td>
          <td class="tabledatasize">{{ Termmastersdata.Terms }}</td>




        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top:3%">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="col-7">
              <h5 style="float:left;margin-top:10px;color:maroon">{{filterMetadata.count}} Record(s)</h5>
              <!--<input type="text" class="form-control" placeholder="First name">-->
            </div>
            <div class="col-5">
            
              <div class="form-inline">

                <mat-dialog-actions style="float:right;">
                  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" (click)="Termsmasterdelete(termsdata.value);cleardata()">Delete</button>
                  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;"(click)="cleardata()">New</button>
                  <button type="submit" [hidden]="issearchtermssave" class="btn btn-primary buttoncolor " style="margin-left:5px;" (click)="Termsmastersave(termcode.value,termsdata.value);cleardata()">Save</button>
                  <button type="submit" [hidden]="issearchterms" class="btn btn-primary buttoncolor " style="margin-left:5px;" (click)="Termsmasterupdate(termcode.value,termsdata.value);cleardata()">Update</button>
                  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" matDialogClose>Back</button>
                </mat-dialog-actions>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
