<div style="    background-color: #f6f5f1">

  <h2 style="font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Raw Material Restriction {{restrictioncountryname}}</h2>

  <div class="form-inline" style="padding-top:1%;">
    <label class="label1" for="inputcust" style="color:maroon">INCI NAME</label>
    <input style="margin-left: 1%; width: 60%; color:maroon" [(ngModel)]="restrictionformulaname" type="text" class="form-control">
  </div>
  <style>

    label {
      display: inline-block;
      width: 30%;
      text-align: right;
    }
  </style>

  <form>


    <div class="form-inline" style="padding-top:1%;">
      <label>Type of Toxicity</label>
      <input style="margin-left: 1%; width: 45%;" type="text" [(ngModel)]="toxicity" class="form-control" name="tox" value="">
    </div>

    <div class="form-inline" style="padding-top:1%;">
      <label>Listing Mechanism</label>
      <input style="margin-left: 1%; width: 15%;" type="text" [(ngModel)]="listing" class="form-control" name="list" value="">

    </div>
    <div class="form-inline" style="padding-top:1%;">
      <label>Date Listed</label>
      <input style="margin-left: 1%; width: 15%;" type="date" [(ngModel)]="cadate" class="form-control" name="dat" value="">

    </div>

    <div class="form-inline" style="padding-top:1%;">
      <label>NSRL or MADL(Ug/dat))</label>
      <input style="margin-left: 1%; width: 15%;" type="text" [(ngModel)]="nsdl" class="form-control" name="ns" value="">

    </div>

    <div class="form-inline" style="padding-top:1%;">
      <label>Source of Info</label>
      <input style="margin-left: 1%; width: 45%;" type="text" rows="2" [(ngModel)]="sourceinfo" class="form-control" name="sorc" value="">

    </div>

    <div class="form-inline" style="padding-top:1%;">
      <label>Source Regulation Doc Link</label>
      <input style="margin-left: 1%; width: 45%;" type="text" [(ngModel)]="sourceregdoc" rows="2" class="form-control" name="doc" value="">

    </div>
    <div class="form-inline" style="padding-top:1%;">
      <label>Internal Reg.Notes</label>
      <textarea style="margin-left:1%; width: 45%;" type="text" [(ngModel)]="internalreg" rows="2" class="form-control" name="reg" value=""></textarea>

    </div>
  </form>


  <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">

    <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-top:1%;margin-left:10px" matDialogClose>Close</button>
    <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-top:1%;margin-left:10px"(click)="Cleardata();">New</button>

    <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;margin-top:1%;margin-left:10px" (click)="Restriction_SaveUpdate();">Save / Update</button>

  </div>
</div>
