<div style="background-color: #f6f5f1">
  <!--<div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">-->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form class="form-inline text-center" style="margin-bottom:20px;">
          <h2 style="margin-top: 20px; font-family: Playfair Display; background-color: #f6f5f1;color: #150485" text-center>SMART</h2>
          <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: #bb2205">Formulator </h2>
          <!--h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black"></h2>-->
        </form>
      </div>
    </div>
    <fieldset class="border p-2">
      <legend class="w-auto" style="font-size:15px;color:maroon">Search</legend>
      <div class="form-row" style="margin-top:5px;">
        <div class="form-group col-md-12">
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Function Search</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" value="" placeholder="Function Search">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Function Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Function Description">
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
    <div>
      <p style="margin-left:3%;">Make your selection by Double clicking on your choice</p>
    </div>
    <div style="margin-top:1%;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Function Name</th>
            <th scope="col">Function Description</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ABRASIVE</td>
            <td>Removes materials from various body surfaces or aids mechanical tooth cleaning </td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Accelerator</td>
            <td>Removes materials from various body surfaces or aids mechanical tooth cleaning</td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>ACNE TREATMENT</td>
            <td>ACNE TREATMENT</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top:6%;">
      <div class="form-inline" style="float:right">
        <mat-dialog-actions>
          <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" matDialogClose>Close</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
  <!--</div>-->
