
<div style="    background-color: #bbe1fa;">

  <div style="    background-color: #bbe1fa
">

    <h1 class="design " style="    font-family: Playfair Display;
    background-color: #bbe1fa;
    color: #ffff;
    text-align: center" >
      SmartFormulator-Formula Listing
    </h1>




    <div class=" container"style="   background-color: #bbe1fa;" >

    <div class="center" style="   background-color: #bbe1fa;">

      <form class="form-inline" style="background-color: #bbe1fa;">


        <input type="text" (keyup)="applyFilter($event)" style="margin-left: 90px;" class="form-control" placeholder="Enter Formula Code" id="formulacode" size="40">
        <input type="text" (keyup)="applyFilter($event)" style="margin-left: 70px" class=" form-control" placeholder="Enter Formula Name" id="formula_name" size="40">
        <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10px; height: 50px; width: 90px;">Clear</button>
      </form>


      <form class="form-inline">


        <input type="text" style="margin-top:10px;margin-left:90px;" class="form-control" placeholder="Enter PDR" id="formula_pdr" size="40">





        <select id="project_name" class="form-control" style="width:370px;margin-left:70px;margin-top:10px">
          <option selected>Select Project Name</option>
          <option>Admin</option>
          <option>Admin1</option>
          <option>Admin2</option>
          <option>Admin3</option>
          <option>Admin4</option>
        </select>

      </form>
      <form class="form-inline">



        <select id="status" class="form-control" style="width:370px;margin-left:90px;margin-top:15px">
          <option selected>Status</option>
          <option>Admin</option>
          <option>Admin1</option>
          <option>Admin2</option>
          <option>Admin3</option>
          <option>Admin4</option>
        </select>




        <select id="Created_by" class="form-control" style="width:370px;margin-left:70px;margin-top:15px">
          <option selected>Created By</option>
          <option>Admin</option>
          <option>Admin1</option>
          <option>Admin2</option>
          <option>Admin3</option>
          <option>Admin4</option>
        </select>

      </form>


      <!--<div class="example-container mat-elevation-z8" style="margin-top:20px">
        <table mat-table [dataSource]="dataSource">-->
      <!-- Position Column -->
      <!--<ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Formula </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.position}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Name Column -->
      <!--<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>  FormulaCode </th>
        <td mat-cell *matCellDef="let data"> {​​​​​​​{​​​​​​​data.FormulaCode}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Weight Column -->
      <!--<ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let data"> {​​​​​​​{​​​​​​​data.Description}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> PDRNo</th>
        <td mat-cell *matCellDef="let data"> {​​​​​​​{​​​​​​​data.PDRNo}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let data"> {​​​​​​​{​​​​​​​data.status}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> UserName</th>
        <td mat-cell *matCellDef="let data"> {​​​​​​​{​​​​​​​data.UserName}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>ProjectName</th>
            <td mat-cell *matCellDef="let data"> {​​​​​​​{​​​​​​​data.ProjectName}​​​​​​​}​​​​​​​ </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>-->
      <!--</div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a class="tabcolor tabbutto" ngbNavLink>My Formula</a>
        <ng-template ngbNavContent>
          <div style="    background-color: #bbe1fa;">
            <label for="search" style="margin-left: 100px;">search</label>
            <form class="form-inline" style="background-color: #bbe1fa;">


              <input type="text" (keyup)="applyFilter($event)" style="margin-left: 90px;" class="form-control" placeholder="Enter Formula Code" id="formulacode" size="40">
              <input type="text" (keyup)="applyFilter($event)" style="margin-left: 70px" class=" form-control" placeholder="Enter Formula Name" id="formula_name" size="40">
              <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10px; height: 50px; width: 90px;">Clear</button>
            </form>


            <form class="form-inline">


              <input type="text" style="margin-top:10px;margin-left:90px;" class="form-control" placeholder="Enter PDR" id="formula_pdr" size="40">




              <select id="project_name" class="form-control" style="width:370px;margin-left:70px;margin-top:10px">
                <option selected>Select Project Name</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>


            </form>
            <form class="form-inline">














              <select id="status" class="form-control" style="width:370px;margin-left:90px;margin-top:15px">
                <option selected>Status</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>






            </form>



            <div class="example-container mat-elevation-z8" style="margin-top:20px">
              <table mat-table [dataSource]="dataSource">-->
      <!-- Position Column -->
      <!--<ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Formula </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.position}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Name Column -->
      <!--<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>  Formula Name </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.name}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Weight Column -->
      <!--<ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> PDR </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.weight}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Project Name</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.symbol}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.status}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> Created By</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.createdby}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.date}​​​​​​​}​​​​​​​ </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>-->
      <!--</div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a class="tabcolor tabbutto" ngbNavLink>Products</a>
        <ng-template ngbNavContent>



        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a class="tabcolor tabbutto" ngbNavLink>Company Owned</a>
        <ng-template ngbNavContent>
          <div style="    background-color: #bbe1fa;">
            <label for="search" style="margin-left: 100px;">search</label>
            <form class="form-inline" style="background-color: #bbe1fa;">


              <input type="text" (keyup)="applyFilter($event)" style="margin-left: 90px;" class="form-control" placeholder="Enter Formula Code" id="formulacode" size="40">
              <input type="text" (keyup)="applyFilter($event)" style="margin-left: 70px" class=" form-control" placeholder="Enter Formula Name" id="formula_name" size="40">
              <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10px; height: 50px; width: 90px;">Clear</button>


            </form>


            <form class="form-inline">


              <input type="text" style="margin-top:10px;margin-left:90px;" class="form-control" placeholder="Enter PDR" id="formula_pdr" size="40">




              <select id="project_name" class="form-control" style="width:370px;margin-left:70px;margin-top:10px">
                <option selected>Select Project Name</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>


            </form>



















            <form class="form-inline">



              <select id="status" class="form-control" style="width:370px;margin-left:90px;margin-top:15px">
                <option selected>Status</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>




              <select id="Created_by" class="form-control" style="width:370px;margin-left:70px;margin-top:15px">
                <option selected>Created By</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>

            </form>



            <div class="example-container mat-elevation-z8" style="margin-top:20px">
              <table mat-table [dataSource]="dataSource">-->
      <!-- Position Column -->
      <!--<ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Formula </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.position}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Name Column -->
      <!--<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>  Formula Name </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.name}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Weight Column -->
      <!--<ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> PDR </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.weight}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Project Name</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.symbol}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.status}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> Created By</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.createdby}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date</th>
                  <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.date}​​​​​​​}​​​​​​​ </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </ng-template>

      </ng-container>
      <ng-container ngbNavItem>
        <a class="tabcolor tabbutto" ngbNavLink>Customer Owned</a>
        <ng-template ngbNavContent>
          <p>data5</p>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a class="tabcolor tabbutto" ngbNavLink>Generic</a>
        <ng-template ngbNavContent>
          <div style="    background-color: #bbe1fa;">
            <label for="search" style="margin-left: 100px;">search</label>
            <form class="form-inline" style="background-color: #bbe1fa;">


              <input type="text" (keyup)="applyFilter($event)" style="margin-left: 90px;" class="form-control" placeholder="Enter Formula Code" id="formulacode" size="40">
              <input type="text" (keyup)="applyFilter($event)" style="margin-left: 70px" class=" form-control" placeholder="Enter Formula Name" id="formula_name" size="40">
              <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 10px; height: 50px; width: 90px;">Clear</button>
            </form>


            <form class="form-inline">


              <input type="text" style="margin-top:10px;margin-left:90px;" class="form-control" placeholder="Enter PDR" id="formula_pdr" size="40">




              <select id="project_name" class="form-control" style="width:370px;margin-left:70px;margin-top:10px">
                <option selected>Select Project Name</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>


            </form>
            <form class="form-inline">


















              <select id="status" class="form-control" style="width:370px;margin-left:90px;margin-top:15px">
                <option selected>Status</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>




              <select id="Created_by" class="form-control" style="width:370px;margin-left:70px;margin-top:15px">
                <option selected>Created By</option>
                <option>Admin</option>
                <option>Admin1</option>
                <option>Admin2</option>
                <option>Admin3</option>
                <option>Admin4</option>
              </select>

            </form>



            <div class="example-container mat-elevation-z8" style="margin-top:20px">
              <table mat-table [dataSource]="dataSource">-->
      <!-- Position Column -->
      <!--<ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Formula </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.position}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Name Column -->
      <!--<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>  Formula Name </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.name}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Weight Column -->
      <!--<ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> PDR </th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.weight}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Project Name</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.symbol}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.status}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> Created By</th>
        <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.createdby}​​​​​​​}​​​​​​​ </td>
      </ng-container>-->
      <!-- Symbol Column -->
      <!--<ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date</th>
                    <td mat-cell *matCellDef="let element"> {​​​​​​​{​​​​​​​element.date}​​​​​​​}​​​​​​​ </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ng-click=""> </tr>
                </table>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a class="tabcolor tabbutto" ngbNavLink>LabNotebook</a>
          <ng-template ngbNavContent>
            <form>
            </form>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a class="tabcolor tabbutto" ngbNavLink>Customer</a>
          <ng-template ngbNavContent>
            <p>data8</p>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a class="tabcolor tabbutto" ngbNavLink>Stability</a>
          <ng-template ngbNavContent>
            <p>data2</p>
          </ng-template>
        </ng-container>


      </nav>


      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <div class="form-row" style="    background-color: #bbe1fa;">
        <div style="margin-left:20px;margin-top:20px" class="form-group ">
          <div class="form-inline">

            <button type="submit" class="btn btn-primary  buttoncolor" style="margin-left:30px;height:50px;width:100px;">New</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="margin-left:30px;height:50px;width:130px;">Create Report</button>
            <button type="submit" class="btn btn-primary  buttoncolor" style="margin-left:30px;height:50px;width:100px;">Back</button>





          </div>
        </div>-->
      </div>
    </div>
  </div>

















