<div class="card"style="background-color: #f6f5f1">
  <div class="card-header text-center">
   Select Properties
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div style="height:250px;background-color:white">
          <label style="margin-left:10px;">Property Name</label>
          
        </div>
      </div>
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:40px;">Select All</button><br />
        <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:40px;margin-top:1%">Deselect All</button>
      </div>
     
    </div>
    </div>
  <div class="card">
    <div class="card-body">
      <div class="col">

      </div>
      <div class="col-7">
        <div style="margin-top:1%">
          <div class="form-inline">
            <mat-dialog-actions>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:40px;"(click)="newproperty()">New Property</button>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" >Load</button>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" matDialogClose>Close</button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
