<div style="background-color: #f6f5f1">
  <div>
    <h4 style="margin-left:30px;">Reset Password for the User</h4>
  </div>
  <div>
    <form class="form-inline" style="background-color: #f6f5f1;margin-top: 10px;">
      <label for="companylogo" style="margin-left: 35px;">New Password</label>
      <input type="text" style="margin-left: 100px;" class="form-control" id="PDR" size="50">
    </form>
    <form class="form-inline" style="    background-color: #f6f5f1;margin-top: 10px;">
      <label for="companylogo" style="margin-left: 35px;">Confirm Password</label>
      <input type="text" style="margin-left: 78px;" class="form-control" id="PDR" size="50">
    </form>
    <form class="form-inline" style="   margin-top: 30px;margin-bottom:20px">
      <mat-dialog-actions>
        <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:190px;height:50px;width:150px;">Reset Password</button>
        <button type="submit" class="btn btn-primary buttoncolor" style="margin-left:10px;height:50px;width:110px;" matDialogClose>Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
