<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">
        <form class="form-inline text-center" style="margin-bottom:20px;">



          <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;margin-left:47%">Pricing Details</h2>
        </form>
      </div>
    </div>
    <div>
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon"></legend>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-inline">
              <label style="margin-left:4%">Formula Code</label>
              <input style="width: 27%;margin-left:15px" type="text" class="form-control">
              <label style="margin-left:0.5%">PDR #</label>
              <input style="width: 18%;margin-left:1%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:3.6%">Formula Name</label>
              <input style="width: 50%;margin-left:1%" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label style="margin-left:6.7%">Lab Batch Size</label>
              <input style="width: 50%;margin-left:15px" type="text" class="form-control">
              <input style="width: 10%;margin-left:13px" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:4%">Formula Cost $</label>
              <input style="width: 50%;margin-left:4.1%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:4%">Packing Cost $</label>
              <input style="width: 50%;margin-left:4.3%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:5%">Labour Cost $</label>
              <input style="width: 50%;margin-left:4%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:2.9%">Overhead Cost $</label>
              <input style="width: 50%;margin-left:3.9%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:7%">Mist Cost $</label>
              <input style="width: 50%;margin-left:4.3%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:0.4%">Filling Assembly Cost $</label>
              <input style="width: 50%;margin-left:0.4%" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="form-inline">
              <label style="margin-left:4%">Transportation Air $</label>
              <input style="width: 50%;margin-left:4.1%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:3%">Transportation Water $</label>
              <input style="width: 50%;margin-left:2.4%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:3.9%">Transportation Road $</label>
              <input style="width: 50%;margin-left:2.2%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:6%">Artwork Cost $</label>
              <input style="width: 50%;margin-left:6.5%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:7%">Label Cost $</label>
              <input style="width: 50%;margin-left:7.8%" type="text" class="form-control">
            </div>
            <div class="form-inline">
              <label style="margin-left:5%;color:red">Total Cost $(A)</label>
              <input style="width: 50%;margin-left:7.5%" type="text" class="form-control">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset class="border p-2">
        <legend class="w-auto" style="font-size:15px;color:maroon">Markup Margins</legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <div class="form-inline">
              <label style="margin-left:1%;margin-top:11.5%">Markup Amount $</label>
            </div>
            <div class="form-inline">
              <label style="margin-left:1%;margin-top:6%">Total Amt. w/markup $(C)</label>
            </div>
          </div>
          <fieldset class="border p-2">
            <legend class="w-auto" style="font-size:15px;color:maroon">25% Margin</legend>
            <!--<div class="form-inline">-->
            <input style="width:80%" type="text" class="form-control">
            <input style="width:80%" type="text" class="form-control">
            <!--</div>-->
          </fieldset>
          <fieldset class="border p-2" style="margin-left:1%">
            <legend class="w-auto" style="font-size:15px;color:maroon">30% Margin</legend>
            <!--<div class="form-group col-md-3">-->
            <input style="width:80%" type="text" class="form-control">
            <input style="width:80%" type="text" class="form-control">
            <!--</div>-->
          </fieldset>
          <fieldset class="border p-2" style="margin-left:1%">
            <legend class="w-auto" style="font-size:15px;color:maroon">40% Margin</legend>
            <!--<div class="form-group col-md-3">-->
            <input style="width:80%" type="text" class="form-control">
            <input style="width:80%" type="text" class="form-control">
            <!--</div>-->
          </fieldset>
        </div>
      </fieldset>
    </div>
    <div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <div class="form-inline">
            <label style="margin-left:1%;margin-top:11.5%">Markup Amount $</label>
          </div>
          <div class="form-inline">
            <label style="margin-left:1%;margin-top:6%">Total Amt. w/markup $(C)</label>
          </div>
        </div>
        <fieldset class="border p-2">
          <legend class="w-auto" style="font-size:15px;color:maroon">50% Margin</legend>
          <!--<div class="form-group col-md-3">-->
          <input style="width:80%" type="text" class="form-control">
          <input style="width:80%" type="text" class="form-control">
          <!--</div>-->
        </fieldset>
        <fieldset class="border p-2" style="margin-left:1%">
          <legend class="w-auto" style="font-size:15px;color:maroon">100% Margin</legend>
          <!--<div class="form-group col-md-3">-->
          <input style="width:80%" type="text" class="form-control">
          <input style="width:80%" type="text" class="form-control">
          <!--</div>-->
        </fieldset>
        <fieldset class="border p-2" style="margin-left:1%">
          <legend class="w-auto" style="font-size:15px;color:maroon">45% Margin</legend>
          <!--<div class="form-group col-md-3">-->
          <input style="width:80%" type="text" class="form-control">
          <input style="width:80%" type="text" class="form-control">
          <!--</div>-->
        </fieldset>
      </div>
    </div>

  </div>
</div>
<div style="margin-top:0.5%">
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;" matDialogClose>Close</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">Update</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">Create Report</button>
</div>
