<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align: center;">EU Safety Phrases</h2>

    <div style="margin-left: 10px;">
      <label for="data_requirements" style="margin-top: 3%;">Safety Phrases</label>

      <div class="card" style="margin-left: 10px;">
        <div class="card-body" style="width: 90%;height:1000px;">
          <ul>
            <li *ngFor="let item of list">
              <input type="checkbox" [(ngModel)]="item.checked" > {{item.title}}
            </li>

          </ul>

        </div>
      </div>
    </div>

  </div>
  <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">



    <button type="submit" class="btn btn-primary  buttoncolor" style="float:left;height:40px;margin-top:1%"(click)="isAllSelected();" >Select All</button>
    <button type="submit" class="btn btn-primary  buttoncolor" style="float:left;height:40px;margin-top:1%;margin-left:10px"(click)=" isAllunSelected();">Deselect All</button>
    <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:40px;margin-top:1%;margin-right:10px" (click)=" savedata(classify.value, categoryname.value,description.value);" matDialogClose>Back</button>

    <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:40px;margin-top:1%;margin-right:10px" (click)="changeSelection();onNoClick()">Select</button>


  </div>
</div>
