<dx-data-grid [dataSource]="tasksDataSource"
              [showBorders]="true"
              [columnAutoWidth]="true">
 
  <dxi-column dataField="ProductNumber"></dxi-column>
  <dxi-column dataField="ProductName"></dxi-column>
  <dxi-column dataField="UnitSize"></dxi-column>
  <dxi-column dataField="Unit" ></dxi-column>
  <dxi-column dataField="Tier1Value"></dxi-column>
  <dxi-column dataField="Tier2Value"></dxi-column>
  <dxi-column dataField="Tier3Value"></dxi-column>
  <dxi-column dataField="Tier4Value"></dxi-column>

</dx-data-grid>
