<div style="background-color: #f6f5f1" >
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">
        <form class="form-inline text-center" style="margin-bottom:20px;">



          <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;margin-left:43%">Propellants VOC Calculation</h2>
        </form>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-inline">
          <label>PDR No</label>
          <input style="width: 50%;" type="text" class="form-control" name="provocpdr" id="vocpdr" [(ngModel)]="propvocPDRno" value="">
        </div>
        <div class="form-inline">
          <label >Formula Code</label>
          <input style="width: 50%;" type="text" class="form-control" ame="provocformulacod" id="vocpdr" [(ngModel)]="propvocformulacode" value="">
        </div>
        <div class="form-inline">
          <label>Formula Name</label>
          <input style="width: 50%;" type="text" class="form-control"ame="provocformname" id="vocformname" [(ngModel)]="propvocformulaname" value="">
        </div>
      </div>
    </div>
    <div>
      <div style="overflow-y:auto">
        <ag-grid-angular style="width: 100%; height: 500px;font-family:Verdana;font-style:normal;background-color:white"
                         class="ag-theme-alpine"
                         [rowHeight]="rowHeight"
                         [columnDefs]="columnDefs1"
                         [rowClassRules]="rowClassRules"
                         (columnResized)="onColumnResized($event)"
                         (columnVisible)="onColumnVisible($event)"
                         #agGrid
                         (rowClicked)="rowClicked($event)"
                         [rowDragManaged]="true"
                         [singleClickEdit]="true"
                         [applyColumnDefOrder]="true"
                         [getRowStyle]="getRowStyle"
                         [rowStyle]="rowStyle"
                         [getRowNodeId]="getRowNodeId"
                         [rowSelection]="rowSelection"
                         [enableRangeSelection]="true"
                         [suppressScrollOnNewData]="true"
                         [gridOptions]="gridOptions"
                         [defaultColDef]="defaultColDef"
                         [rowData]="rowDatavoc"
                         [overlayLoadingTemplate]="overlayLoadingTemplate"
                         (gridReady)="onGridReadyone($event)">

        </ag-grid-angular>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-inline"style="padding-top:20px">
          <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 17px; padding-top: 10px"(click)="addRow()">Insert Row </button>
          <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 17px; padding-top: 10px">Delete Row </button>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="form-inline"style="padding-top:20px">
          <h3 style="margin-left:5%; " for="TotalQuantity">Total (%)</h3>
          <input type="text" style="margin-left:10px;width:20%" class="form-control" placeholder="">
          <input type="text" style="margin-left:10px;width:16%" class="form-control" placeholder="">
          <h4 style="margin-left:1%; " for="TotalQuantity">Zero VOC</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:0.5%">
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;" matDialogClose>Close</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">Save</button>
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;margin-right:10px">Create Report</button>
</div>
