<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
<!--<ng-container *ngFor="let menuItem of modulesList">

  <ng-container *ngIf="!menuItem.children">
    <a class="nav-link">
      <span class="icon fa" [ngClass]="menuItem.icon"></span>
      <span class="text-holder">{{menuItem.label}}</span>
    </a>
  </ng-container>
  <ng-container *ngIf="menuItem.children.length > 0">
    <button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" (mouseenter)="levelOneTrigger.openMenu()">
      <span class="icon fa" [ngClass]="menuItem.icon"></span>
      <span>
        {{menuItem.label}}
        <i class="fa fa-chevron-down"></i>
      </span>
    </button>

    <mat-menu #levelOne="matMenu" direction="down" yPosition="below">
      <span (mouseleave)="levelOneTrigger.closeMenu()">
        <ng-container *ngFor="let childL1 of menuItem.children">
          <li class="p-0" *ngIf="!childL1.children" mat-menu-item>
            <a class="nav-link">
              {{childL1.label}}
              <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
            </a>
          </li>
          <ng-container *ngIf="childL1.children && childL1.children.length > 0">
            <li mat-menu-item [matMenuTriggerFor]="levelTwo">
              <span class="icon fa" [ngClass]="childL1.icon"></span>
              <span>{{childL1.label}}</span>
            </li>

            <mat-menu #levelTwo="matMenu">
              <ng-container *ngFor="let childL2 of childL1.children">
                <li class="p-0" mat-menu-item>
                  <a class="nav-link">
                    {{childL2.label}}
                    <i *ngIf="childL2.icon" [ngClass]="childL2.icon"></i>
                  </a>
                </li>
              </ng-container>
            </mat-menu>
          </ng-container>
        </ng-container>
      </span>
    </mat-menu>
  </ng-container>

</ng-container>-->
