<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:75vh;">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align: center;">RM Volume Pricing</h2>

    <div class="form-row" style="margin-top:5px;">
      <div class="form-group col-md-6">
        <input style="width: 80%;margin-left:10px;
              margin-top: 20px;" type="text" class="form-control" id="PDR #" placeholder="INCI Name">
        <input style="width: 80%;margin-left:10px;margin-top: 20px;" type="text" class="form-control" id="PDR #" placeholder="Supplier">
      </div>

      <div class="form-group col-md-6">
        <input style="width: 80%;margin-left:10px;margin-top: 20px;" type="text" class="form-control" id="PDR #" placeholder="Item #">
        <input style="width:80%;margin-left:10px;margin-top: 20px;" type="text" class="form-control" id="Project Name" placeholder="Trade Name">
      </div>
    </div>
    <div class="form-row" style="margin-top:5px;">
      <div class="form-group col-md-4">
        <div class="form-inline">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Quantity</label>
          <input style="width:30%;margin-left:10px" type="text" class="form-control" id="Project Name">
          <select id="PRD" class="form-control" style="width:20%;margin-left: 10px;">
            <option selected>Kg</option>
            <option>Custom</option>
            <option>RAWS-RAWS</option>
            <option>RM-Raw Mat</option>
          </select>

        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="form-inline">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Volume Price $</label>
          <input style="width:30%;margin-left:10px" type="text" class="form-control" id="Project Name">
          <select id="PRD" class="form-control" style="width:20%;margin-left: 10px;">
            <option selected>Kg</option>
            <option>Custom</option>
            <option>RAWS-RAWS</option>
            <option>RM-Raw Mat</option>
          </select>

        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="form-inline">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Lead Time</label>
          <input style="width:40%;margin-left:10px" type="text" class="form-control" id="Project Name">
        </div>
      </div>
    </div>

    <div class="form-inline">

      <label for="data_requirements">Comments / Lead Time</label>

      <textarea id="data_requirements" style="width:80%;margin-left: 10px;" class="form-control md-textarea" size="7" rows="4"></textarea>
    </div>
    <div>

      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 140px;">Save / Update</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 120px;">New / Clear</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 120px;">Delete</button>

    </div>
    <div>
      <p style="color:maroon;margin-top: 40px;"> Double click to view more details</p>
    </div>

    <div class=" form-row">
      <div class="form-group col-md-12">

        <table class="table table-hover table-striped" style="height:400px;background-color:white">
          <thead>
            <tr>
              <th scope="col">INCI Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Qty Unit</th>
              <th scope="col">Price</th>
              <th scope="col">Price Unit</th>
              <th scope="col"> Lead Time</th>
              <th scope="col">Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary buttoncolor" style="margin-right:10px;height:50px;float:right;width: 120px;" matDialogClose>Back </button>
</div>


