<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align: center;">RM Volume Pricing</h2>

    <div class="form-row" style="margin-top:5px;">
      <div class="form-group col-md-6">
        <div class="form-inline">
          <label for="inci" style="margin-left:10px">INCIName</label>
          <input style="width: 80%;
              margin-top: 20px;" type="text" class="form-control" id="PDR #" [(ngModel)]="inciname" name="inci" value="" >
        </div>
        <div class="form-inline">
          <label for="inci" style="margin-left:10px">Supplier</label>
          <input style="width: 80%;margin-top: 20px;" type="text" class="form-control" id="PDR #" [(ngModel)]="supplier" name="sup" value="">
          </div>
        </div>

      <div class="form-group col-md-6">
        <div class="form-inline">
          <label for="item" style="margin-left:10px">Item #</label>
          <input style="width: 80%;margin-top: 20px;" type="text" class="form-control" id="PDR #" [(ngModel)]="itemcode" name="item" value="" >
        </div>
        <div class="form-inline">
          <label for="trade" style="margin-left:10px">Trade Name</label>
          <input style="width:80%;margin-top: 20px;" type="text" class="form-control" id="Project Name" [(ngModel)]="tradename" name="trade" value="">
          </div>
        </div>
      </div>
    <div class="form-row" style="margin-top:5px;">
      <div class="form-group col-md-4">
        <div class="form-inline">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Quantity</label>
          <input style="width:30%;margin-left:10px" type="text" class="form-control" id="Project Name" [(ngModel)]="quantity" name="qty" value="">
          <select id="PRD" class="form-control" style="width:20%;margin-left: 10px;" [(ngModel)]="qtyunit" name="unit" value="">

            <option *ngFor="let defaultUOM of defaultUOMload_data" value={{defaultUOM.Unitname}}>{{defaultUOM.Unitname}}</option>
          </select>

        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="form-inline">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Volume Price $</label>
          <input style="width:30%;margin-left:10px" type="text" class="form-control" id="Project Name" [(ngModel)]="volprice" name="prize" value="">
          <select id="PRD" class="form-control" style="width:20%;margin-left: 10px;" [(ngModel)]="vpunit" name="unit" value="">

            <option *ngFor="let defaultUOM of defaultUOMload_data" value={{defaultUOM.Unitname}}>{{defaultUOM.Unitname}}</option>
          </select>

        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="form-inline">
          <label for="PDR #" style="margin-left:10px;margin-top:10px;">Lead Time</label>
          <input style="width:40%;margin-left:10px" type="text" class="form-control" id="Project Name" [(ngModel)]="leadtime" name="qty" value="">
        </div>
      </div>
    </div>

    <div class="form-inline">

      <label for="data_requirements">Comments / Lead Time</label>

      <textarea id="data_requirements" style="width:80%;margin-left: 10px;" class="form-control md-textarea" size="7" rows="4" [(ngModel)]="comments" name="com" value=""></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 140px;" matDialogClose>Back</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 140px;" (click)=" Volumepricing_saveupdate();">Save / Update</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 120px;" (click)="Cleardata();">New / Clear</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-top: 20px; margin-right:10px;height:50px;float:right;width: 120px;" (click)="Volumepricing_delete();">Delete</button>

    </div>
    <div>
      <p style="color:maroon;margin-top: 40px;font-weight:500"> Double click to view the details</p>
    </div>

    <div class=" form-row">
      <div style="margin-left: 1%; margin-top: 1%; height: 33rem;width:99%; overflow-y: auto; background-color: white;border:solid;border-width:0.1px">
        <table class="table table-hover table-bordered" style="height:400px;background-color:white">
          <thead>
            <tr>
              <th scope="col">INCI Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Qty Unit</th>
              <th scope="col">Price</th>
              <th scope="col">Price Unit</th>
              <th scope="col"> Lead Time</th>
              <th scope="col">Comments</th>
              <th hidden scope="col">RMvolpricingID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vpload of vpload_data; let i=index;" (click)="setvpvalues(vpload);">
              <td>{{ vpload.INCIName}}</td>
              <td>{{ vpload.Quantity}}</td>
              <td>{{ vpload.Qtyunit}}</td>
              <td>{{ vpload.price}}</td>
              <td>{{ vpload.priceunit}}</td>
              <td>{{ vpload.Leadtime}}</td>
              <td>{{ vpload.Comments}}</td>
              <td hidden>{{ vpload.VolumepricingID}}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">
    <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:40px;margin-top:1%;margin-right:10px" matDialogClose>Close</button>
  </div>
</div>
