<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:60vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">


        <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Formula Instruction</h2>

      </div>
    </div>

    <div style="color: #bb2205">
      <p class="font-weight-bold">Double Click to Edit the Value</p>
    </div>
    <div>
      <table class="table table-bordered">

        <thead>
          <tr>
            <th scope="col">Instruction Code</th>
            <th scope="col">Instruction</th>


          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>
</div>


<mat-dialog-actions>
  
  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-right:10px" matDialogClose>Close</button>

  <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;margin-right:10px" (click)="newinstruction()">New Instruction</button>
</mat-dialog-actions>

