<div class="card">
  <div class="card-header text-center">
    Scalability
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-inline">
          <label style="margin-left:10px;">Enter Quantity</label>
          <input type="text" class="form-control" size="12" style="margin-left:1%;" id="EnterQuantity" name="Enter Quantity" #PropertyName>
          <select id="PRD" class="form-control" style="width:10%;margin-left:0.3%">
            <option selected>g</option>
            <option selected>g</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="col">
      </div>
      <div class="col-7">
        <div style="margin-top:1%">
          <div class="form-inline">
            <mat-dialog-actions>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;">Ok</button>
              <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" matDialogClose>Cancel</button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
