<h4 class="text-center">Add CAS</h4>
<form>
  <div class="form-group">
    <div class="form-inline">
      <label for="PDR #" style="margin-left:10px">CAS No</label>
      <input style="width: 60%;margin-left:95px;" type="text" class="form-control" id="PDR #">
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 3%;width: 120px;" (click)="OpenSearchCAS()">Search CAS </button>
    </div>

  </div>
  <div class="form-group">
    <div class="form-inline">
      <label for="PDR #" style="margin-left:10px">Description</label>
      <input style="width: 60%;margin-left:70px;" type="text" class="form-control" id="PDR #">
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 3%;width: 120px;">Add CAS </button>
    </div>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label for="PDR #" style="margin-left:10px">EINECS/ELINCS No</label>
      <input style="width: 60%;margin-left:10px;" type="text" class="form-control" id="PDR #">   
    </div>
  </div>
</form>
<div style="margin-top:2%;">
  <div class="form-inline" style="float:right">
    <mat-dialog-actions>
      <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;">Save</button>
      <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:5px;" matDialogClose>Back</button>
    </mat-dialog-actions>
  </div>
</div>
