<div style="    background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:75vh;">

    <h2 style="    margin-bottom: 5px; margin-top:5px;font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align:center">Term Master</h2>
    <fieldset class="border p-2">

      <div class="row" style="margin-top:5px;">
        <div class="row-col-sm-12 " style="margin-left: 20px">
          <div class="form-inline">
            <label for="customer Key" style="margin-left:10px">Term Code</label>
            <input style="width:31.25em;margin-left:1.875em" type="text" class="form-control" id="PDR #">

          </div>
          <div class="form-inline" style="margin-top:10px">
            <label for="Customer name" style="margin-left:10px">Terms</label>
            <input style="width:31.25em;margin-left:3.75em" type="text" class="form-control" id="Project Name">
          </div>
        </div>
      </div>
    </fieldset>
    <p style="color:maroon">Click to Edit the value in Grid</p>
    <div class=" form-row">
      <div class="form-group col-md-12">

        <table class="table table-hover table-striped" style="height:400px;background-color:white">
          <thead>
            <tr>
              <th scope="col">Term code</th>

              <th scope="col">Terms</th>




            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
  <button type="submit" class="btn btn-primary buttoncolor" style="height:50px;width:110px;float:right;margin-right:5px" matDialogClose>Back </button>
  <button type="submit" class="btn btn-primary buttoncolor" style="height:50px;width:110px;float:right;margin-right:5px" matDialogClose>Save </button>
  <button type="submit" class="btn btn-primary buttoncolor" style="height:50px;width:110px;float:right;margin-right:5px" matDialogClose>Delete</button>
  <button type="submit" class="btn btn-primary buttoncolor" style="height:50px;width:110px;float:right;margin-right:5px" matDialogClose>New</button>




</div>



