<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:80vh;width:100%">
    <div class="col-sm-12">
      <div style="background-color: #f6f5f1">
        <h2 style="margin-top: 20px;font-family: Playfair Display;background-color: #f6f5f1;color: black;text-align:center">Unapproved Raw Materials</h2>
      </div>
    </div>

    <div style="color: #bb2205">
      <p class="font-weight-bold">Please Approve The Below List of Raw Materials To Go Further</p>
      <div style="margin-left:1%;margin-top:1%; height:500px; overflow-y: auto;">
        <table class=" table table-hover table-bordered" style=" background-color: white" id="table" width="100%">
          <thead>
            <tr>
              <th class="header" scope="col">Item#</th>
              <th class="header" scope="col">INCI Name</th>
              <th class="header" scope="col">Trade Name</th>
              <th class="header" scope="col">Supplier Name</th>
              <th class="header" scope="col">Approved</th>
              <th class="header" scope="col"></th>

            </tr>
          </thead>
          <tbody>
            <mat-progress-spinner class="center" style="display: flex; justify-content: center; align-items: center; " *ngIf="isLoading;else conten" color="accent"
                                  mode="indeterminate">
            </mat-progress-spinner>
            <tr *ngFor="let rawmaterialapprove_search of dataresultLoadunapproverawmatlist ; let i=index;" (click)="setvalues(rawmaterialapprove_search);close();" #conten>
              
              <td class="tabledatasize">{{rawmaterialapprove_search.GeneralItemCode}}</td>
              <td class="tabledatasize">{{rawmaterialapprove_search.INCIName}}</td>
              <td width="15%" class="tabledatasize">{{rawmaterialapprove_search.TradeName}}</td>
              <td width="15%" class="tabledatasize">{{rawmaterialapprove_search.suppliername}} </td>
              <td class="tabledatasize"><input type="checkbox" (change)="onchangerawmat($event)"
                                               [checked]="rawmaterialapprove_search.Approved == '1'?true:false"
                                   name="{{rawmaterialapprove_search.Approved}}" [(ngModel)]="rawmaterialapprove_search.Approved" /> </td>
              <!--<td width="15%" class="tabledatasize" hiddden >{{rawmaterialapprove_search.SupplierCode}} </td>-->
              <td class="tabledatasize"><button (click)="GotoRawmaterial()">view</button> </td>
           
            </tr>

          </tbody>
        </table>
      </div>
      <div>
      </div>
    </div>
    <div style="background-color: #f6f5f1;border:solid 0.1px darkgrey">



      <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-top:1%" matDialogClose (click)="ApproveSelect()">
        Approve Selected
      </button>
      <button type="submit" class="btn btn-primary  buttoncolor" style="float:right;height:50px;width:100px;margin-top:1%" matDialogClose>Close</button>




    </div>
  </div>
 </div>

