<div style="background-color: #f6f5f1">
  <div style="overflow-y:auto;overflow-x:hidden; height:90vh;width:100%">
    <h2 style="   font-family: Playfair Display;    background-color: #f6f5f1; color: black; text-align:center">Component Test Details</h2>


    <!--<div class="form-row" >
        <div class="form-group col-md-4" style="margin-top:1%">
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">STAB #</label>
            <input style="width: 50%;margin-left:1%" type="text" class="form-control">
          </div>
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Storage Cond</label>
            <input style="width: 50%; margin-left: 1%" type="text" class="form-control">
          </div>
          <div class="form-inline">
            <label for="inputcust" style="font-size: medium;
    font-family: Verdana;">Start Dt</label>
            <input type="date" id="date" class="form-control" name="date" style="width: 50%; margin-left: 1%">
          </div>
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Ref #</label>
            <input style="width: 50%; margin-left: 1% " type="text" class="form-control">
          </div>
        </div>
        <div class="form-group col-md-2" style="margin-top:1%">
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Formula#</label>
            <input style="width: 50%; margin-left: 1%;" type="text" class="form-control">
          </div>
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Fragrance</label>
            <input style="width: 50%; margin-left: 1%;" type="text" class="form-control">
          </div>
          <div class="form-inline" >
            <label for="inputcust" style="font-size: medium;
    font-family: Verdana;">End Dt</label>
            <input type="date" id="date" class="form-control" name="date" style="width: 50%; margin-left: 1%;">
          </div>
          <div>
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Package Size</label>
            <input style="width:50%; margin-left:1%;" type="text" class="form-control">
          </div>

        </div>
        <div class="form-group col-md-3" style="margin-top:1%">
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Formula Name</label>
            <input style="width: 50%;" type="text" class="form-control">
          </div>
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Lab Batch #</label>
            <input style="width: 50%; margin-left: 1%;" type="text" class="form-control">
          </div>
          <div class="form-inline">
            <label for="inputcust" style="font-size: medium;
    font-family: Verdana;">Set Alert</label>
            <input class="form-control" id="form-0-quantity" min="0" name="quantity" value="1" type="number" style="width: 50%; margin-left: 1%;">
            <label for="inputcust" style="">Days(S)</label>
          </div>
          <div class="form-inline">
            <label for="PDR" style="font-size: medium;
    font-family: Verdana;">Vendor</label>
            <input style="width:50%; margin-left: 1%;" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group col-md-3">
          <fieldset class="border p-2" style="margin-top:20px">
            <legend class="w-auto" style="font-size: medium; font-family: Verdana;color:maroon;">Ranges(Specs from PDR)</legend>
            <div class="form-inline" style="margin-top:5px">
              <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">pH:</label>
              <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Spg:</label>
            </div>
            <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Visc:</label>

            <fieldset class="border p-2" style="margin-top:20px">
              <legend class="w-auto" style=" font-size: medium; font-family: Verdana; color: maroon; margin-left: -8px;">Viscometer Specs</legend>
              <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Visc Method LVT</label>
              <div class="form-inline" style="margin-top:5px">
                <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Factor</label>
                <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Speed</label>
              </div>
              <div class="form-inline" style="margin-top:5px">
                <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Spindle</label>
                <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Time</label>
              </div>
              <div class="form-inline" style="margin-top:5px">
                <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 8.5%;">Helipat</label>
                <input type="radio" id="Yes" name="Yes" value="Yes">
                <label for="Yes" style="color:maroon;font:bold">Yes</label><br>
                <input type="radio" id="No" name="No" value="No">
                <label for="No" style="color:maroon;font:bold">No</label><br>
              </div>
            </fieldset>
          </fieldset>
        </div>
      </div>-->



    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-inline" style="margin-top:5px">

          <label for="PDR" style="font-size: medium; font-family: Verdana;">COMP #</label>
          <input style="    width: 8%;margin-left: 20px;" type="text" class="form-control" [(ngModel)]="ccompno" name="stabnumber" value="">
          <label for="PDR" style="margin-left: 1%; font-size: medium; font-family: Verdana;">Formula#</label>
          <input style="    width: 18%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="formulacode" name="stabnumber" value="">
          <label for="PDR" style="margin-left: 1%; font-size: medium; font-family: Verdana;">Formula Name</label>
          <input style="    width: 18%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="formulaname" name="stabnumber" value="">
          <label for="PDR" style="font-size: medium; font-family: Verdana;margin-left:1%">Package Description</label>
          <input style="    width: 28%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="packagedescription" name="pkgnumber" value="">
        </div>
        <div class="form-inline" style="margin-top:5px">

          <label for="PDR" style=" font-size: medium; font-family: Verdana;">Customer</label>
          <input style="    width: 15%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="customer" name="cust" value="">
          <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 1% ">Storage Condition</label>
          <input style=" width: 10%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="storagecondition" name="storcond" value="">
          <label for="inputcust" style="font-size: medium; font-family: Verdana; margin-left: 1%">Start Dt</label>
          <input type="date" id="date" class="form-control" name="date" style="width:8%;" [(ngModel)]="startdate" value="">

          <label for="inputcust" style="margin-left:1%; font-size: medium; font-family: Verdana;">End Dt</label>
          <input type="date" id="date" class="form-control" name="date" style="width:8%;" [(ngModel)]="enddate" value="">
          <label for="inputcust" style="margin-left:1%; font-size: medium; font-family: Verdana;">Set Alert</label>
          <input class="form-control" id="form-0-quantity" min="0" name="quantity" value="1" type="number" style="width:5%;margin-left:10px" [(ngModel)]="setalert">
          <label for="inputcust" style="margin-left: 1%; font-size: medium; font-family: Verdana;">Days(S)</label>
        </div>
        <div class="form-inline" style="margin-top:5px">
          <label for="PDR" style="font-size: medium; font-family: Verdana;">Ref #</label>
          <input style=" width: 20%;margin-left: 40px;" type="text" class="form-control" [(ngModel)]="refno" value="">
          <label for="PDR" style="font-size: medium; font-family: Verdana; margin-left: 1%;">Lot #</label>
          <input style=" width: 20%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="lotno" value="">
          <label for="PDR" style="margin-left:1%; font-size: medium; font-family: Verdana;">Product Name</label>
          <input style=" width: 20%;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="productname" value="">
        </div>
        <div class="form-inline" style="margin-top:5px">
          <label for="PDR" style="font-size: medium; font-family: Verdana;">Add SOP</label>
          <input style=" width: 60%;margin-left: 13px;" type="text" class="form-control" value="">
          <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 1%; height: 40px; width: 100px;">...</button>
          <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 1%; height: 40px; width: 100px;">Open</button>
        </div>


        <!--<div class="form-group col-md-3">
          <fieldset class="border p-2" style="margin-top:20px">
            <legend class="w-auto" style="font-size: medium; font-family: Verdana;color: maroon">Ranges(Specs from PDR)</legend>
            <div class="form-inline" style="margin-top:5px">
              <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">pH:</label>
              <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Spg:</label>
            </div>
            <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Visc:</label>

            <fieldset class="border p-2" style="margin-top:20px">
              <legend class="w-auto" style="font-size: medium; font-family: Verdana; color: maroon; margin-left: -8px;">Viscometer Specs</legend>
              <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Visc Method LVT</label>
              <div class="form-inline" style="margin-top:5px">
                <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Factor</label>
                <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Speed</label>
              </div>
              <div class="form-inline" style="margin-top:5px">
                <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Spindle</label>
                <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Time</label>
              </div>
              <div class="form-inline" style="margin-top:5px">
                <label for="PDR" style="margin-left: 8.5%; font-size: medium; font-family: Verdana;">Helipat</label>
                <input type="radio" id="Yes" name="Yes" value="Yes">
                <label for="Yes" style="color:maroon;font:bold">Yes</label><br>
                <input type="radio" id="No" name="No" value="No">
                <label for="No" style="color:maroon;font:bold">No</label><br>
              </div>
            </fieldset>
          </fieldset>
        </div>-->
      </div>
    </div>


    <label for="PDR" style="font-size: medium; font-family: Verdana;">Click to Type the Details. First Column is Read Only</label>
    <div style="margin-left:1%;margin-top:1%;height:200px;background-color:white;overflow-y:auto ">
      <dx-data-grid id="gridContainer " style="width: 100%; height: 30rem;font-family:Verdana;font-style:normal;background-color:white"
                    (onRowPrepared)="onRowPrepared2($event)"
                    (onSelectionChanged)="selectedChanged($event)"
                    [columnAutoWidth]="true"
                    [dataSource]="comp_detailload"
                    [wordWrapEnabled]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [showBorders]="true"
                    (rowprepared)="rowprepared">
        <dxo-editing mode="row"
                     [allowUpdating]="true"
                     [useIcons]="true">
        </dxo-editing>

        <dxo-selection [selectAllMode]="allMode"
                       [showCheckBoxesMode]="checkBoxesMode"
                       mode="multiple"></dxo-selection>
        <dxo-row-dragging [allowReordering]="true"
                          [showDragIcons]="showDragIcons"></dxo-row-dragging>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="none"></dxo-sorting>

        <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

        <dxi-column type="buttons" [width]="50">
        </dxi-column>

        <dxi-column dataField="Testing" headerCellTemplate="addressHeaderTemplatetesting"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatetesting'">
          <b style="color: black">Testing</b>
        </div>
        <dxi-column dataField="InitialReading" headerCellTemplate="addressHeaderTemplateinitial" dataType="date"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplateinitial'">
          <b style="color: black">Initial</b>
        </div>
        <dxi-column dataField="TwentyFourHours" headerCellTemplate="addressHeaderTemplatedurat1"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat1'">
          <b style="color: black">Duration 1</b>
        </div>
        <dxi-column dataField="OneWeek" headerCellTemplate="addressHeaderTemplatedurat2"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat2'">
          <b style="color: black">Duration 2</b>
        </div>
        <dxi-column dataField="TwoWeeks" headerCellTemplate="addressHeaderTemplatedurat3"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat3'">
          <b style="color: black">Duration 3</b>
        </div>
        <dxi-column dataField="OneMonth" headerCellTemplate="addressHeaderTemplatedurat4"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat4'">
          <b style="color: black">Duration 4</b>
        </div>
        <dxi-column dataField="TwoMonth" headerCellTemplate="addressHeaderTemplatedurat5"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat5'">
          <b style="color: black">Duration 5</b>
        </div>
        <dxi-column dataField="ThreeMonth" headerCellTemplate="addressHeaderTemplatedurat6"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat6'">
          <b style="color: black">Duration 6</b>
        </div>
        <dxi-column dataField="Sixmonth" headerCellTemplate="addressHeaderTemplatedurat7"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat7'">
          <b style="color: black">Duration 7</b>
        </div>
        <dxi-column dataField="Twelvemonth" headerCellTemplate="addressHeaderTemplatedurat8"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat8'">
          <b style="color: black">Duration 8</b>
        </div>
        <dxi-column dataField="Twentyfourmonth" headerCellTemplate="addressHeaderTemplatedurat9"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat9'">
          <b style="color: black">Duration 9</b>
        </div>
        <dxi-column dataField="Thirtysixmonth" headerCellTemplate="addressHeaderTemplatedurat10"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatedurat10'">
          <b style="color: black">Duration 10</b>
        </div>
        <dxi-column dataField="OtherMonth" headerCellTemplate="addressHeaderTemplateothermonth"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplateothermonth'">
          <b style="color: black">Other month</b>
        </div>
        <dxi-column dataField="LineNumber" headerCellTemplate="addressHeaderTemplatelinenumbr"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatelinenumbr'">
          <b style="color: black">Line Number</b>
        </div>
      </dx-data-grid>
    </div>
    <div class="form-inline" style="margin-top:10px">
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 1%; height: 40px; width: 150px;">Insert Row</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 1%; height: 40px; width: 150px;">Delete Row</button>
      <label for="PDR" style="margin-left: 15%; font-size: medium; font-family: Verdana;">Freeze/Thaw(-15C to 25C)</label>
      <label for="PDR" style="margin-left: 3%; font-size: medium; font-family: Verdana;">(Enter "Freeze/Thaw" in Storage Condition to enable this grid.)</label>
    </div>
    <div style="margin-left:1%;margin-top:1%;height:200px;background-color:white;overflow-y:auto ">
      <dx-data-grid id="gridContainer " style="width: 100%; height: 30rem;font-family:Verdana;font-style:normal;background-color:white"
                    (onRowPrepared)="onRowPrepared2($event)"
                    (onSelectionChanged)="selectedChanged($event)"
                    [columnAutoWidth]="true"
                    [dataSource]="freeze_detailload"
                    [wordWrapEnabled]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [showBorders]="true"
                    (rowprepared)="rowprepared">
        <dxo-editing mode="row"
                     [allowUpdating]="true"
                     [useIcons]="true">
        </dxo-editing>
        <dxo-selection [selectAllMode]="allMode"
                       [showCheckBoxesMode]="checkBoxesMode"
                       mode="multiple"></dxo-selection>
        <dxo-row-dragging [allowReordering]="true"
                          [showDragIcons]="showDragIcons"></dxo-row-dragging>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="none"></dxo-sorting>

        <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

        <dxi-column type="buttons" [width]="50">
        </dxi-column>

        <dxi-column dataField="Testing" headerCellTemplate="addressHeaderTemplatetesting"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatetesting'">
          <b style="color: black">Testing</b>
        </div>
        <dxi-column dataField="Initial" headerCellTemplate="addressHeaderTemplateinitialres"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplateinitialres'">
          <b style="color: black">Initial Results</b>
        </div>
        <dxi-column dataField="Cycle1" headerCellTemplate="addressHeaderTemplatecycle1"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatecycle1'">
          <b style="color: black">1ST CYCLE</b>
        </div>
        <dxi-column dataField="Cycle2" headerCellTemplate="addressHeaderTemplatecycle2"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatecycle2'">
          <b style="color: black">2ND CYCLE</b>
        </div>
        <dxi-column dataField="Cycle3" headerCellTemplate="addressHeaderTemplatecycle3"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatecycle3'">
          <b style="color: black">3RD CYCLE</b>
        </div>
        <dxi-column dataField="Cycle4" headerCellTemplate="addressHeaderTemplatecycle4"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatecycle4'">
          <b style="color: black">4TH CYCLE</b>
        </div>
        <dxi-column dataField="Cycle5" headerCellTemplate="addressHeaderTemplatecycle5"></dxi-column>
        <div *dxTemplate="let info of 'addressHeaderTemplatecycle5'">
          <b style="color: black">5TH CYCLE</b>
        </div>
      </dx-data-grid>
    </div>
    <div style="margin-top:10px">
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 1%; height: 40px; width: 150px;">Insert Row</button>
      <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 1%; height: 40px; width: 150px;">Delete Row</button>
    </div>
  </div>
</div>
<div class="form-inline" style="margin-top:10px">
  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:1%;height:40px;width:150px;">Print Preview</button>
  <input style="margin-left:1%" class="form-check-input" type="checkbox">
  <label style="margin-left: 1%; font-size: medium; font-family: Verdana; ">Approve Stability Test</label><br>
  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 10%; height: 40px; width: 150px; font-size: medium; font-family: Verdana;">Create Label</button>
  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left:2%;height:40px;width:120px;">New</button>
  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 2%; height: 40px; width: 120px; font-size: medium; font-family: Verdana;" (click)="Componentcompactibility_save();">Save</button>
  <button type="submit" class="btn btn-primary buttoncolor " style="margin-left: 2%; height: 40px; width: 120px; font-size: medium; font-family: Verdana;" (click)="ComponenetDelete();">Delete</button>
  <button type="submit" class="btn btn-primary buttoncolor" style="margin-left: 2%; height: 40px; float: right; width: 120px; font-size: medium; font-family: Verdana;" matDialogClose>Back </button>
</div>
