<mat-toolbar class="mat-elevation-z5" style="    background-color: #F7EFE5;
    height: 70px;
    color: white">
  <mat-toolbar-row style="margin-top:10px">
   
    <img src="../assets/SMARTFORMULATOR.jpg " height="30" width="30" />
    <h1 style="font-family: Playfair Display; font-size:25px;color:  #150485">SMART </h1>
    <h1 style="margin-right:30px;  font-family: Playfair Display;font-size:25px; color: firebrick"> Formulator</h1>





 


   
  </mat-toolbar-row>

  <style>
    .icon {
      font-size: 27px;
    }
  </style>



</mat-toolbar>
<style>
  .mat-elevation-z5 {
    position: relative;
    z-index: 3;
  }

  .flexExpand {
    justify-self: end;
  }

  .example-form {
    min-width: 250px;
    max-width: 900px;
    width: 100%;
    margin: 3rem 1rem
  }

  .example-full-width {
    width: 100%;
  }

  .my-input {
    border-radius: 5px;
    border: rgb(156, 156, 156);
    background-color: rgb(247, 247, 247);
    min-height: 1.5rem;
  }

  .search-icon {
    position: relative;
    right: 32px;
    top: 8px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: dimgrey;
    cursor: pointer;
  }
</style>

